<m-body
  [class.m-body__topbarAlert]="shouldShowTopbarAlert$ | async"
  [class.has-markers-sidebar]="hasMarkersSidebar()"
  [class.has-v3-navbar]="true"
  [class.is-pro-domain]="isProDomain"
>
  <div
    [class.m-pageLayout__container]="!(pageLayoutService.isFullWidth$ | async)"
    [class.m-pageLayout__container--fullWidth]="
      pageLayoutService.isFullWidth$ | async
    "
  >
    <ng-container *ngIf="!isProDomain">
      <m-sidebar__navigationV2
        m-pageLayout__pane="left"
      ></m-sidebar__navigationV2>
    </ng-container>
    <div
      [m-pageLayout__pane]="
        (pageLayoutService.isFullWidth$ | async) ? null : 'main'
      "
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</m-body>
<m-chatIcon *ngIf="session.isLoggedIn()" [floating]="true"></m-chatIcon>

<ng-container *mIfBrowser>
  <m-messenger
    *ngIf="
      session.isLoggedIn() &&
      !isProDomain &&
      (messengerService.showLegacyMessenger$ | async)
    "
  ></m-messenger>
</ng-container>

<m--blockchain--transaction-overlay></m--blockchain--transaction-overlay>

<m-modal--tos-updated *ngIf="session.isLoggedIn()"></m-modal--tos-updated>

<ng-container *mIfBrowser>
  <m-juryDutySession__summons
    *ngIf="session.isLoggedIn() && !isProDomain"
  ></m-juryDutySession__summons>

  <m-web3-modal
    title="Connect Wallet"
    description="To earn tokens and access the decentralized web, select an option below"
    descriptionGray="(It's easier than you think)"
    dismissText="No thanks, I'll do it later"
    promptMetamaskIfNotInstalled="true"
  ></m-web3-modal>
</ng-container>

<ng-container *mIfBrowser>
  <m-channel--onboarding *ngIf="showOnboarding"></m-channel--onboarding>
  <m-toaster></m-toaster>
  <!-- <m-appPrompt *ngIf="isMobileOrTablet()"></m-appPrompt> -->
  <m-chatwootWidget *ngIf="isChatwootExperimentActive()"></m-chatwootWidget>
</ng-container>
