<ng-container *ngIf="!(loading$ | async); else loadingSpinnerTemplate">
  <h4
    class="m-networkAdminConsole__title"
    i18n="@@NETWORK_ADMIN_CONSOLE_GENERAL__NETWORK_DETAILS"
  >
    Network details
  </h4>

  <form [formGroup]="formGroup" class="m-networkAdminConsole__form">
    <!-- Network name input -->
    <div class="m-networkAdminConsole__formInputContainer">
      <label
        class="m-networkAdminConsole__formLabel"
        i18n="@@NETWORK_ADMIN_CONSOLE_GENERAL__NETWORK_NAME_LABEL"
        for="networkName"
        >Network name</label
      >
      <input
        class="m-networkAdminConsole__formTextInput"
        id="networkName"
        formControlName="networkName"
        placeholder="Network name"
        autocomplete="off"
        data-ref="network-admin-general-network-name-input"
      />
      <div class="m-networkAdminConsole__formErrorWrapper">
        <m-formError
          *ngIf="networkNameFormControl && networkNameFormControl.dirty"
          [errors]="networkNameFormControl?.errors"
        >
        </m-formError>
      </div>
    </div>

    <!-- Submit button -->
    <m-button
      *ngIf="{
        inProgress: savingInProgress$ | async
      } as buttonTemplateVariables"
      class="m-networkAdminGeneral__saveButton"
      color="blue"
      size="large"
      [disabled]="
        !formGroup.valid ||
        !formGroup.dirty ||
        buttonTemplateVariables.inProgress
      "
      [saving]="buttonTemplateVariables.inProgress"
      [solid]="false"
      (onAction)="onSubmit()"
      ><ng-container i18n="@@NETWORK_ADMIN_CONSOLE_GENERAL__SAVE_NETWORK_NAME"
        >Save network name</ng-container
      ></m-button
    >
  </form>

  <m-networkAdminConsole__federationSettings></m-networkAdminConsole__federationSettings>
  <m-networkAdminConsole__replyEmailSettings></m-networkAdminConsole__replyEmailSettings>

  <!-- Copy link container -->
  <!-- <div class="m-networkAdminGeneral__copyInviteLinkContainer">
    <h4 class="m-networkAdminGeneral__copyInviteLinkTitle" i18n="@@NETWORK_ADMIN_CONSOLE_GENERAL__INVITE_USERS_TITLE">Invite users to your network</h4>
    <p class="m-networkAdminGeneral__copyInviteLinkBody" i18n="@@NETWORK_ADMIN_CONSOLE_GENERAL__INVITE_USERS_BODY">Invite new users’ to your network by copying the invite link on the button. Once a user signs up through that link, they will be on your server upon completing sign up.</p>
    <button class="m-networkAdminGeneral__copyInviteLinkButton" (click)="onCopyInviteLinkClick()">
      <i class="material-icons m-networkAdminGeneral__copyInviteLinkButtonIcon">content_copy</i>
      <span class="m-networkAdminGeneral__copyInviteLinkButtonText" i18n="@@NETWORK_ADMIN_CONSOLE_GENERAL__COPY_LINK">Copy invite link</span>
    </button>
  </div> -->

  <!-- Featured channels and groups section. -->
  <m-networkAdminConsole__featured></m-networkAdminConsole__featured>
</ng-container>
<ng-template #loadingSpinnerTemplate>
  <m-loadingSpinner [inProgress]="true"></m-loadingSpinner>
</ng-template>
