<div
  *ngIf="showAvatar"
  class="m-activityOwnerBlock__avatar m-activityOwnerBlock__fixedWidth"
>
  <m-activity__avatar
    [entity]="entity"
    [wasQuoted]="wasQuoted"
  ></m-activity__avatar>
</div>
<div
  class="m-activity__ownerBlock m-legible"
  [ngClass]="{
    'm-activity__ownerBlock--hasSecondRow': showSecondRow
  }"
>
  <div class="m-activityOwnerBlock__topRow">
    <!-- AVATAR  -->
    <!-- LEFT SIDE: names, channel badges, permalink, btns -->
    <div
      class="m-activityOwnerBlockTopRow__leftSide m-activityOwnerBlock__truncate"
    >
      <!-- First row: Primary name -->
      <a
        class="m-activityOwnerBlock__primaryName m-activityOwnerBlock__truncate m-activityOwnerBlock__ellipsis"
        [routerLink]="primaryUrl"
      >
        <span [title]="primaryName">{{ primaryName }}</span>
        <!-- Channel badges -->
        <ng-container
          *ngIf="!showUsernameInSecondRow"
          [ngTemplateOutlet]="channelBadges"
        ></ng-container>
      </a>
    </div>

    <!-- SPACER -->
    <div *ngIf="showSpacer" class="m-activityOwnerBlock__spacer"></div>
    <!-- RIGHT SIDE: anything after the spacer -->
    <div class="m-activityOwnerBlockTopRow__rightSide">
      <!-- BADGES -->
      <m-activity__badges
        *ngIf="showBadges"
        class="m-activityOwnerBlock__fixedWidth"
      ></m-activity__badges>
      <!-- VIEWS -->
      <m-activity__views
        *ngIf="showViews"
        class="m-activityOwnerBlock__fixedWidth"
      ></m-activity__views>
      <!-- MENU -->
      <m-activity__menu
        *ngIf="showMenu"
        class="m-activityOwnerBlock__fixedWidth"
      ></m-activity__menu>
    </div>
  </div>
  <!-- SECOND ROW  -->
  <div
    class="m-activityOwnerBlock__secondRow m-activityOwnerBlock__wrap"
    *ngIf="showSecondRow"
  >
    <!-- Secondary name  -->
    <div
      *ngIf="showUsernameInSecondRow"
      class="m-activityOwnerBlock__nameAndBadge m-activityOwnerBlock__truncate"
    >
      <a
        [routerLink]="['/', username]"
        class="m-activityOwnerBlock__secondaryName m-activityOwnerBlock__truncate m-activityOwnerBlock__ellipsis"
      >
        <span [title]="secondaryName">
          <ng-container *ngIf="!showGroupContext">@</ng-container
          >{{ secondaryName }}
        </span>
      </a>
      <!-- Channel badges -->
      <ng-container [ngTemplateOutlet]="channelBadges"></ng-container>
      <!-- (dots should be on the preceding row, if wrapping occurs) -->
      <ng-container
        *ngIf="
          showPermalink ||
          ((showSubscribeButton || showJoinButton) && !isMinimalMode)
        "
        [ngTemplateOutlet]="dot"
      ></ng-container>
    </div>
    <!-- Permalink -->
    <div class="m-activityOwnerBlock__wrap">
      <ng-container *ngIf="showPermalink">
        <m-activity__permalink
          class="m-activityOwnerBlock__fixedWidth"
          [wasQuoted]="wasQuoted"
        ></m-activity__permalink>
        <!-- (dots should be on the preceding row, if wrapping occurs) -->
        <ng-container
          *ngIf="(showSubscribeButton || showJoinButton) && !isMinimalMode"
          [ngTemplateOutlet]="dot"
        ></ng-container>
      </ng-container>
      <!-- Subscribe button (for channels) -->
      <ng-container *ngIf="showSubscribeButton">
        <m-subscribeButton
          [user]="owner"
          [sized]="true"
          [displayAsButton]="false"
          labelType="pastTense"
        ></m-subscribeButton>
      </ng-container>
      <!-- Join button (for groups) -->
      <ng-container *ngIf="showJoinButton">
        <m-group__membershipButton
          [group]="group"
          [displayAsButton]="false"
          labelType="pastTense"
        ></m-group__membershipButton>
      </ng-container>
    </div>
  </div>
</div>
<!-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  -->
<!-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  -->
<!-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  -->
<!-- TEMPLATES -->
<!-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  -->
<!-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  -->
<!-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  -->

<!-- ---------------------------- -->
<!-- CHANNEL BADGES -->
<!-- ---------------------------- -->
<ng-template #channelBadges>
  <m-channel--badges
    class="m-channel--badges-activity m-activityOwnerBlockPrimaryName__badges m-activityOwnerBlock__fixedWidth"
    [user]="owner"
    badges="[ 'admin', 'verified', 'federation' ]"
  ></m-channel--badges>
</ng-template>
<!-- ---------------------------- -->
<!-- SEPARATOR DOT -->
<!-- ---------------------------- -->
<ng-template #dot>
  <span class="m-activityOwnerBlock__dot m-activityOwnerBlock__fixedWidth"
    >·</span
  ></ng-template
>
