<m-dropdownMenu
  [menu]="dropdownMenu"
  [disabled]="!permissions.canInteract() && !permissions.canCreatePost()"
  m-clientMeta
  [ngClass]="{
    'm-activity__remindButton--noPermission':
      !permissions.canInteract() && !permissions.canCreatePost()
  }"
  (click)="onClickTrigger()"
>
  <button
    (click)="getUserHasReminded($event)"
    class="m-activityRemindButton__icon"
    [class.selected]="(service.isUsersRemind$ | async) || justReminded"
  >
    <i class="material-icons">repeat</i>
    <span
      class="minds-counter"
      *ngIf="!service.displayOptions.showInteractions && (count$ | async) > 0"
      >{{ count$ | async }}</span
    >
  </button>
</m-dropdownMenu>

<ng-template #dropdownMenu>
  <ul>
    <m-dropdownMenu__item
      *ngIf="!(service.userHasReminded$ | async) && permissions.canInteract()"
      [disabled]="!remindOptionsEnabled"
      (click)="onRemindClick($event)"
      icon="repeat"
    >
      <span>Remind</span>
    </m-dropdownMenu__item>
    <m-dropdownMenu__item
      *ngIf="(service.userHasReminded$ | async) && permissions.canInteract()"
      [disabled]="!remindOptionsEnabled"
      (click)="onUndoRemind($event)"
      icon="repeat"
    >
      <span>Undo Remind</span>
    </m-dropdownMenu__item>
    <m-dropdownMenu__item
      *ngIf="permissions.canCreatePost()"
      (click)="onQuotePostClick($event)"
      icon="create"
      [m-clientMeta]="getClientMetaDetails(service.entity$.getValue())"
    >
      <span>Quote post</span>
    </m-dropdownMenu__item>
    <m-dropdownMenu__item
      *ngIf="permissions.canCreatePost()"
      (click)="onGroupShareClick($event)"
      icon="group"
      data-ref="remind-button-group-share"
      [m-clientMeta]="getClientMetaDetails(service.entity$.getValue())"
    >
      <span i18n="@@REMIND_BUTTON__GROUP_SHARE">Group share</span>
    </m-dropdownMenu__item>
  </ul>
</ng-template>
