@import 'defaults.scss';
@import '../../stylesheets/product.pages.ng.scss';

:host {
  margin: $spacing24 0 $spacing10 0;
  display: flex;
  justify-content: center;

  padding: 0 $spacing30;

  @media screen and (max-width: $min-desktop) {
    padding: 0 $spacing5;
  }

  @media screen and (max-width: $min-tablet) {
    margin: $spacing7 0;
  }

  markdown {
    max-width: 1100px;

    ::ng-deep {
      * {
        text-align: center;
      }

      h4 {
        padding: 0 $spacing8;
      }
    }
  }
}
