<div class="m-modalV2__inner">
  <div class="m-modalV2__header">
    <h4
      class="m-assignRoles__title"
      i18n="@@ASSIGN_ROLES_MODAL__MODIFY_USER_ROLES"
    >
      Modify user roles
    </h4>
    <p
      class="m-assignRoles__subtitle"
      i18n="@@ASSIGN_ROLES_MODAL__WHAT_ROLES_YOU_WANT"
    >
      What roles would you like this user to have?
    </p>
  </div>
  <div class="m-modalV2__body">
    <div class="m-networkAdminConsole__checkboxesWrapper">
      <div class="m-networkAdminConsole__checkboxesContainer">
        <ng-container *ngFor="let role of allRoles">
          <div
            class="m-networkAdminConsole__checkboxRow"
            [ngClass]="{
              'm-networkAdminConsole__checkboxRow--disabled': !isCheckboxEnabled(
                role.id
              )
            }"
          >
            <div
              class="m-networkAdminConsole__checkboxWrapper"
              (click)="clickedCheckbox(role.id)"
            >
              <div class="m-networkAdminConsole__checkboxLabel">
                <m-networkAdminConsoleRole__icon
                  [roleId]="role.id"
                  scale="0.75"
                ></m-networkAdminConsoleRole__icon>
                <span>{{ role.name | titlecase }}</span>
              </div>
              <m-formInput__checkbox
                [ngModel]="userHasRole(role.id)"
                (ngModelChange)="toggleRole(role.id)"
                [disabled]="!isCheckboxEnabled(role.id)"
                [ignoreClick]="!isCheckboxClickable(role.id)"
              ></m-formInput__checkbox>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<m-modalCloseButton></m-modalCloseButton>
