<ng-container *ngIf="!loading">
  <div class="mf-jumpAnchor" #topAnchor></div>

  <section>
    <img
      alt
      class="m-homepage__v3__neuralBg"
      ngSrc="./assets/homepage/neural.png"
      priority
      fill
      [m-blurhash]="NEURAL_BACKGROUND_BLURHASH"
      [m-blurhashFullscreen]="true"
    />

    <div class="m-homepage__v3__firstSection__container">
      <div
        style="display: flex; flex: 1; flex-direction: column; max-width: 1180px; padding: 0 32px; overflow: hidden"
      >
        <div class="m-homepage__v3__firstSection__actions">
          <h2 class="m-homepage__v3__title" ngPreserveWhitespaces>
            {{ data.attributes.hero.h1 }}
          </h2>

          <p class="m-homepage__v3__description">
            {{ data.attributes.hero.body }}
          </p>

          <m-button
            *ngIf="!session.isLoggedIn()"
            class="m-homepage__joinButton--blueOutline"
            (click)="onRegister()"
            i18n="@@HOMEPAGE_V2__JOIN_MINDS_NOW"
            data-ref="data-minds-homepage-join-button-main"
            color="blue"
            size="large"
            solid="true"
          >
            {{ data.attributes.hero.ctaText }}
          </m-button>
        </div>

        <div class="m-homepage__v3__appButtons">
          <a [href]="siteUrl + 'mobile'" target="_blank">
            <img
              alt="Download Android App"
              ngSrc="./assets/homepage/android.png"
              disableOptimizedSrcset
              width="120"
              height="40"
            />
          </a>
          <a
            href="https://itunes.apple.com/app/minds-com/id961771928"
            target="_blank"
          >
            <img
              alt="Download on the App Store"
              ngSrc="./assets/homepage/app-store.png"
              disableOptimizedSrcset
              width="120"
              height="40"
            />
          </a>
        </div>

        <section class="m-homepage__metrics m-grid__hide--mobile">
          <div
            class="m-homepage__metric"
            *ngFor="let stat of data.attributes.hero.heroStats"
          >
            <span class="m-homepage__metric__title">{{ stat.number }}</span>
            <span
              class="m-homepage__metric__subtitle"
              i18n="@@HOMEPAGE_V3__MEMBERS"
              >{{ stat.label }}</span
            >
          </div>
        </section>

        <section class="m-homepage__metrics m-grid__only--mobile">
          <div
            class="m-homepage__metric"
            *ngFor="let stat of data.attributes.hero.heroStats | slice: 0:2"
          >
            <span class="m-homepage__metric__title">{{ stat.number }}</span>
            <span
              class="m-homepage__metric__subtitle"
              i18n="@@HOMEPAGE_V3__MEMBERS"
              >{{ stat.label }}</span
            >
          </div>
        </section>
      </div>
    </div>

    <section class="m-homepage__asFeaturedIn">
      <m-marketing__asFeaturedInV2></m-marketing__asFeaturedInV2>
    </section>
  </section>

  <section class="m-homepage__v3__body">
    <div
      *ngFor="let section of data.attributes.sections"
      class="m-marketing__section m-marketing__section--style-5"
      [class.m-marketing__section--reversed]="!section.leftAligned"
    >
      <div class="m-grid m-marketing__wrapper">
        <div
          class="
              m-grid__column-7 m-grid__column-6--tablet m-grid__column-12--mobile
              m-marketing__body
            "
        >
          <!-- ------------------------------------------------ -->
          <!-- Section 2 -->
          <!-- ------------------------------------------------ -->
          <h3>
            {{ section.title }}
          </h3>

          <markdown ngPreserveWhitespaces>{{ section.body }}</markdown>
        </div>
        <div
          class="
              m-grid__column-5 m-grid__column-6--tablet m-grid__hide--mobile
              m-marketing__image
            "
        >
          <span>
            <img
              alt
              class="m-marketing__imageElement--noPosition"
              [ngSrc]="strapiUrl + section.image.data.attributes.url"
              disableOptimizedSrcset
              fill
              loading="lazy"
            />
          </span>
        </div>
      </div>
    </div>

    <!-- ------------------------------------------------ -->
    <!-- Final section -->
    <!-- ------------------------------------------------ -->

    <div class="m-marketing__section m-marketing__section--tail">
      <div class="m-grid m-marketing__wrapper">
        <div class="m-grid__column-12 m-marketing__body">
          <h3 class="m-marketingTitle__centered">
            <ng-container>{{ data.attributes.sectionTail.h3 }}</ng-container>
          </h3>

          <div class="m-marketing__actionButtons" *ngIf="!session.isLoggedIn()">
            <m-button
              class="m-homepage__joinButton--blueOutline"
              (click)="onRegister()"
              color="blue"
              solid="true"
            >
              {{ data.attributes.sectionTail.ctaText }}
            </m-button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ------------------------------------------------ -->
  <!-- FOOTER  -->
  <!-- ------------------------------------------------ -->
  <m-marketing__footer *ngIf="footer" [data]="footer"></m-marketing__footer>
</ng-container>
