<div *ngIf="!init" class="m-wallet__spinner">
  <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
</div>
<div class="m-walletBalance--cash" *ngIf="init && cashWallet">
  <m-addBankPrompt></m-addBankPrompt>

  <div class="m-walletBalance--cash__colContainer">
    <!-- -------------------------------------------- -->
    <!--- EARNINGS ------------------------------------->
    <!-- -------------------------------------------- -->

    <div class="m-walletBalance--cash__col" *ngIf="proEarnings">
      <div
        class="m-walletBalance--cash__colTitle"
        i18n="@@WALLET_V2__BALANCE_CASH__EARNINGS_INFO"
      >
        Earnings<m-tooltip icon="help"
          >At the end of each month, your earnings will move into your pending
          balance if you've reached the $100 threshold. When this happens, your
          earnings will be reset to zero. If you haven't reached the threshold,
          your earnings will rollover to the next month.</m-tooltip
        >
      </div>
      <div class="m-walletBalance--cash__colValWrapper">
        <span class="m-walletBalance--cash__colVal--int">{{
          proEarnings.int | currency: 'USD' | slice: 0:-3
        }}</span
        ><span
          class="m-walletBalance--cash__colVal--frac"
          *ngIf="proEarnings.frac"
          >.{{ proEarnings.frac }}</span
        >
      </div>
    </div>

    <!-- -------------------------------------------- -->
    <!--- Total Paid ------------------------------>
    <!-- -------------------------------------------- -->
    <div class="m-walletBalance--cash__col">
      <div
        class="m-walletBalance--cash__colTitle"
        i18n="@@WALLET_V2__BALANCE_CASH__TOTAL__PAID__OUT"
      >
        Total Transferred
        <m-tooltip icon="help">
          This is the total amount that has been paid out to your bank
        </m-tooltip>
      </div>
      <div class="m-walletBalance--cash__colValWrapper" *ngIf="!hasAccount">
        <span class="m-walletBalance--cash__colVal--int">$0</span>
      </div>
      <ng-container *ngIf="hasAccount">
        <div class="m-walletBalance--cash__colValWrapper">
          <span class="m-walletBalance--cash__colVal--int">{{
            totalPaidOut.int | currency: currency | slice: 0:-3
          }}</span
          ><span
            class="m-walletBalance--cash__colVal--frac"
            *ngIf="totalPaidOut.frac"
            >.{{ totalPaidOut.frac }}</span
          >
        </div>
      </ng-container>
    </div>
  </div>
</div>
