<div
  *ngIf="loaded$ | async; else loadingSpinnerTemplate"
  class="m-marketing__footer"
>
  <!-- ------------------------------------------ -->
  <!-- LANGUAGE BAR -->
  <!-- ------------------------------------------ -->
  <ng-container *mIfTenant="false">
    <div
      class="m-marketingFooter__section--language"
      *ngIf="data?.showLanguageBar"
    >
      <m-language__bar></m-language__bar>
    </div>
  </ng-container>
  <!-- ------------------------------------------ -->
  <!-- LINE -->
  <!-- ------------------------------------------ -->
  <div class="m-marketingFooter__sep"></div>

  <!-- ------------------------------------------ -->
  <!-- MAIN: LOGO AND LINKS -->
  <!-- ------------------------------------------ -->
  <div class="m-marketingFooter__section--main" *mIfTenant="false">
    <div class="m-marketingFooter__mainSubsection--brand">
      <div>
        <img
          class="m-marketingFooter__logo"
          [src]="strapiUrl + data?.logo?.data?.attributes?.url"
          [alt]="data?.logo?.data?.attributes?.alternativeText ?? 'Footer logo'"
        />
        <h4 class="m-marketingFooter__slogan">
          {{ data?.slogan }}
        </h4>
        <div class="m-marketingFooter__text">{{ data?.copyrightText }}</div>
      </div>
    </div>
    <div class="m-marketingFooter__mainSubsection--links">
      <div
        *ngFor="let column of data?.columns"
        class="m-marketingFooter__mainLinksCategory"
      >
        <h4>{{ column?.title }}</h4>

        <ul>
          <li *ngFor="let link of column?.links">
            <a
              [href]="link?.url"
              target="_blank"
              [attr.data-ref]="link?.dataRef ?? 'footer-link-generic'"
              >{{ link?.text }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- ------------------------------------------ -->
  <!-- LINE -->
  <!-- ------------------------------------------ -->
  <div class="m-marketingFooter__sep" *mIfTenant="false"></div>
  <!-- ------------------------------------------ -->
  <!-- LEGAL LINKS -->
  <!-- ------------------------------------------ -->
  <div
    *ngIf="data?.bottomLinks?.length"
    class="m-marketingFooter__section--legal"
  >
    <ul>
      <li *ngFor="let link of data?.bottomLinks">
        <a
          [href]="link?.url"
          target="_blank"
          [attr.data-ref]="link?.dataRef ?? 'footer-link-generic'"
        >
          {{ link?.text }}
        </a>
      </li>
    </ul>
  </div>
</div>
<ng-template #loadingSpinnerTemplate>
  <m-loadingSpinner [inProgress]="true"></m-loadingSpinner>
</ng-template>
