@import 'defaults.scss';

#{if(&, "&", "*")}.m-messenger--userlist {
  width: 200px;
  border-radius: 3px 3px 0 0;
  @include m-theme() {
    box-shadow: 0 2px 4px 0 rgba(themed($m-black), 0.15),
      0 1px 0px -2px rgba(themed($m-black), 0.15),
      0 1px 5px 0 rgba(themed($m-black), 0.15);
  }

  .m-messenger--userlist-search {
    height: 30px;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    @include m-theme() {
      border-top: 1px solid themed($m-borderColor--primary);
      background-color: themed($m-bgColor--primaryAlt);
    }

    > i {
      vertical-align: middle;
      font-size: 20px;
      padding: 0px 4px;
    }
    > input {
      border: 0;
      height: 100%;
      width: 168px;
      vertical-align: middle;
      font-size: 12px;
      line-height: 12px;
      padding: 0 0 0 8px;
      -webkit-appearance: none;
      outline: none;

      @include m-theme() {
        border-left: 1px solid themed($m-borderColor--primary);
        background-color: themed($m-bgColor--primary);
        color: themed($m-textColor--primary);
      }
    }
  }

  .m-messenger--userlist-conversations {
    max-height: 240px;
    overflow: scroll;
    overflow-x: hidden;
  }

  .m-messenger--userlist-conversations-item {
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      @include m-theme() {
        background-color: themed($m-bgColor--secondary);
      }
    }

    img {
      width: 24px;
      margin: 8px;
      flex-shrink: 0;
    }
    span {
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.011em;
      font-size: 11px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 132px;
      vertical-align: middle;
      display: inline-block;
    }
    span.m-conversation-label {
      flex-grow: 1;
    }
  }
}
