<div class="m-tabs__container">
  <div class="m-tabs__tab">
    <a
      [routerLink]="['/network/admin/general']"
      [routerLinkActive]="'m-tabs__tab--selected'"
      data-ref="network-admin-console-tab-general"
      i18n="@@NETWORK_ADMIN_CONSOLE__TAB_GENERAL"
      >General</a
    >
  </div>
  <div class="m-tabs__tab">
    <a
      [routerLink]="['/network/admin/domain']"
      [routerLinkActive]="'m-tabs__tab--selected'"
      data-ref="network-admin-console-tab-domain"
      i18n="@@NETWORK_ADMIN_CONSOLE__TAB_DOMAIN"
      >Domain</a
    >
  </div>
  <div class="m-tabs__tab">
    <a
      [routerLink]="['/network/admin/invite']"
      [routerLinkActive]="'m-tabs__tab--selected'"
      data-ref="network-admin-console-tab-invite"
      i18n="@@COMMON__INVITE"
      >Invite</a
    >
  </div>
  <div class="m-tabs__tab">
    <a
      [routerLink]="['/network/admin/appearance']"
      [routerLinkActive]="'m-tabs__tab--selected'"
      data-ref="network-admin-console-tab-appearance"
      i18n="@@NETWORK_ADMIN_CONSOLE__TAB_APPEARANCE"
      >Appearance</a
    >
  </div>
  <div class="m-tabs__tab">
    <a
      [routerLink]="['/network/admin/roles']"
      [routerLinkActive]="'m-tabs__tab--selected'"
      data-ref="network-admin-console-tab-roles"
      i18n="@@NETWORK_ADMIN_CONSOLE__TAB_ROLES"
      >Roles</a
    >
  </div>
  <div class="m-tabs__tab">
    <a
      [routerLink]="['/network/admin/moderation']"
      [routerLinkActive]="'m-tabs__tab--selected'"
      data-ref="network-admin-console-tab-moderation"
      i18n="@@NETWORK_ADMIN_CONSOLE__TAB_MODERATION"
      >Moderation</a
    >
  </div>
  <div class="m-tabs__tab">
    <a
      [routerLink]="['/network/admin/mobile']"
      [routerLinkActive]="'m-tabs__tab--selected'"
      data-ref="network-admin-console-tab-mobile"
      i18n="@@NETWORK_ADMIN_CONSOLE__TAB_MOBILE"
      >Mobile</a
    >
  </div>
</div>
