@import 'defaults.scss';

:host {
  .m-tabs__container {
    overflow-x: auto;
    padding: 0 $spacing8;

    .m-tabs__tab {
      a {
        padding: $spacing2 0;

        @include body1Medium;
        &.m-tabs__tab--selected {
          border-width: 5px;
        }
      }
    }
  }
}
