<ul class="m-channel--badges">
  <li *ngIf="showMidDot && badgeVisible()">
    &middot;
  </li>
  <!-- ---------------- -->
  <!-- VERIFIED -->
  <!-- ---------------- -->
  <li *ngIf="showVerifiedBadge()" (click)="verify($event)">
    <m-tooltip
      icon="verified_user"
      [iconClass]="{ selected: user.verified }"
      i18n="Verified as user status@@COMMON__BADGES__VERIFIED"
    >
      Verified
    </m-tooltip>
  </li>
  <!-- ---------------- -->
  <!-- ADMIN -->
  <!-- ---------------- -->
  <li *ngIf="showAdminBadge()">
    <m-tooltip
      icon="verified_user"
      [iconClass]="{ admin__badge: user.is_admin }"
      i18n="Admin as user status@@COMMON__BADGES__ADMIN"
    >
      Admin
    </m-tooltip>
  </li>
  <!-- ---------------- -->
  <!-- PLUS -->
  <!-- ---------------- -->
  <li *ngIf="showPlusBadge()" routerLink="/plus">
    <m-tooltip
      icon="add_circle_outline"
      iconClass="selected"
      i18n="Plus as user status@@COMMON__BADGES__PLUS"
    >
      Minds+
    </m-tooltip>
  </li>
  <!-- ---------------- -->
  <!-- PRO -->
  <!-- ---------------- -->
  <li *ngIf="showProBadge()" routerLink="/pro">
    <m-tooltip
      iconSrc="{{ cdnAssetsUrl }}assets/badges/proDark.svg"
      i18n="@@COMMON__BADGES__PRO"
      *ngIf="isDark"
    >
      Pro
    </m-tooltip>

    <m-tooltip
      iconSrc="{{ cdnAssetsUrl }}assets/badges/proLight.svg"
      i18n="@@COMMON__BADGES__PRO"
      *ngIf="!isDark"
    >
      Pro
    </m-tooltip>
  </li>
  <!-- ---------------- -->
  <!-- FOUNDER -->
  <!-- ---------------- -->
  <li *ngIf="showFounderBadge()" routerLink="/channels/founders">
    <m-tooltip
      icon="flight_takeoff"
      i18n="Founder as user status@@COMMON__BADGES__FOUNDER"
    >
      Founder
    </m-tooltip>
  </li>

  <li *ngIf="showFounderSwitch()" (click)="setFounder($event)">
    <m-tooltip
      icon="flight_takeoff"
      i18n="Founder as user status@@COMMON__BADGES__FOUNDER"
    >
      Founder
    </m-tooltip>
  </li>
  <!-- ---------------- -->
  <!-- ONCHAIN BOOST -->
  <!-- ---------------- -->
  <li *ngIf="showOnchainBadge()" routerLink="/tokens">
    <m-tooltip icon="link" i18n="@@BADGES__BOOSTER"
      >Boosted OnChain in the last 7 days</m-tooltip
    >
  </li>
  <!-- ---------------- -->
  <!-- FEDERATION -->
  <!-- aka activity pub profiles -->
  <!-- ---------------- -->
  <li *ngIf="showFederationBadge()">
    <m-tooltip icon="language" i18n="@@BADGES__FEDERATION_PROFILE"
      >{{ user.username | federation }} profile</m-tooltip
    >
  </li>
</ul>
