@import 'defaults.scss';
@import '../../../common/layout/layout';

:host {
  .m-newsfeed__boostRotator {
    margin: 0;
  }

  .m-newsfeedBoostRotator__item {
    position: absolute;
    top: 45px; // leave room for toolbar buttons
    width: 100%;
  }

  .m-boostRotator__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include m-theme() {
      background-color: themed($m-bgColor--secondary);
      border-top: 1px solid themed($m-borderColor--primary);
    }

    padding-top: $spacing3;
    padding-bottom: $spacing3;
    padding-left: $activityAvatarSpacingLeft--feed;
    padding-right: $activitySpacingRight--feed;

    @media screen and (max-width: $max-mobile) {
      padding-left: $activityAvatarSpacingLeft--feed--mobile;
      padding-right: $activitySpacingRight--feed--mobile;
    }

    .m-boostRotatorToolbar__buttons {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      i,
      m-tooltipHint,
      m-tooltip {
        cursor: pointer;
        font-size: 32px;
        line-height: 20px;
        height: 20px;
        width: 26px;
        padding-left: $spacing4;
        @include unselectable;
        transition: opacity 0.2s fade-in-out;

        @include m-theme() {
          color: themed($m-rotator-action);
        }
        &:active {
          opacity: 0.8;
        }
      }
      @include m-theme() {
        color: themed($m-rotator-action);
      }
    }
  }

  [class*='m-carousel__overflowScrollButton--'] {
    display: block !important;
    opacity: 1;
    padding: 8px;
    transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    @include m-theme() {
      box-shadow: 0 0 15px 0 rgba(themed($m-black-always), 0.15);
      border: 1px solid themed($m-borderColor--primary);
    }

    &[class*='left'] {
      left: -20px;
    }
    &[class*='right'] {
      right: -20px;
    }

    &:hover {
      @include m-theme() {
        border: 1px solid themed($m-borderColor--primary);
      }
    }

    &:active {
      padding: 7px;
      @include m-theme() {
        box-shadow: 0 0 6px 0 rgba(themed($m-black-always), 0.2);
      }
    }

    @media screen and (max-width: $layoutMax2ColWidth) {
      padding: 4;
      &[class*='left'] {
        left: -16px;
      }
      &[class*='right'] {
        right: -16px;
      }
      &:active {
        padding: 3px;
      }
    }

    @media screen and (max-width: $max-mobile) {
      padding: 0;
      &[class*='left'] {
        left: -12px;
      }
      &[class*='right'] {
        right: -12px;
      }
      &:active {
        padding: 0;
      }
    }
  }
}
