m-language__sidebarPrompt {
  text-align: center;

  .m-sidebarWidget {
    margin-bottom: 20px;
    @include m-theme() {
      border-color: themed($m-blue);
    }
  }
}

.m-languageSidebarPrompt__text {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;

  @include m-theme() {
    color: themed($m-textColor--primary);
  }
}
