@import 'defaults.scss';

:host {
  @include z-index(splash);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-weight: 400;
  display: flex;
  min-height: 440px;

  @include m-theme() {
    background-color: themed($m-bgColor--primary);
    color: themed($m-textColor--secondary);
  }

  .m-proChannel__splash {
    height: 100%;
    width: 100%;
  }

  .m-proChannelSplash__login {
    text-align: right;
    font-size: 17px;
    font-weight: 400;
    margin: 3vh 4vw;
    @include m-theme() {
      color: themed($m-textColor--secondary) !important;
    }
    @media screen and (max-width: $max-mobile) {
      font-size: 15px;
    }
    a {
      @include m-theme() {
        color: themed($m-textColor--primary) !important;
      }
      &:hover {
        text-decoration: underline;
        cursor: pointer;
        @include m-theme() {
          color: themed($m-textColor--primary) !important;
        }
      }
    }
  }

  .m-proChannelSplash__main {
    text-align: center;
    margin-top: 13vh;
  }

  img.m-proChannelSplash__logo {
    max-height: 30vh;
    max-width: 100%;
    margin-bottom: 3vh;
  }

  .m-proChannelSplash__price {
    font-size: 22px;
    line-height: 29px;
    font-weight: 400;
    margin-bottom: 4vh;
    span:first-child {
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
    }
    @media screen and (max-width: $max-mobile) {
      font-size: 20px;
      line-height: 27px;
    }
  }

  ::ng-deep {
    m-pro__joinButton {
      m-button {
        display: block;
        margin-bottom: 4vh;
        button {
          padding: 10px 30px;
          min-height: 50px;
          div {
            font-size: 22px;
            font-weight: 400;
            @media screen and (max-width: $max-mobile) {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  .m-proChannelSplash__skip {
    display: inline-block;
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 20px;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    @media screen and (max-width: $max-mobile) {
      font-size: 16px;
    }
  }

  .m-proChannelSplash__poweredBy {
    margin-bottom: 5vh;
    font-size: 15px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
  }
}
