<ng-container *ngIf="visibleCarouselItem$ | async as visibleCarouselItem">
  <div class="m-featureCarousel__carousel">
    <h3 class="m-featureCarousel__itemTitle">
      {{ visibleCarouselItem.title }}
    </h3>
    <img
      class="m-featureCarousel__itemImage"
      [alt]="visibleCarouselItem.media.alternativeText ?? 'Onboarding carousel image'"
      [src]="visibleCarouselItem.media.fullUrl"
    />
    <div
      *ngIf="carouselItems$ | async as carouselItems"
      class="m-featureCarousel__itemSelector"
      [ngClass]="{
        'm-featureCarousel__itemSelector--hidden': carouselItems.length <= 1
      }"
    >
      <i
        class="material-icons m-featureCarousel__itemSelectorArrow"
        (click)="moveCarousel(CarouselMoveDirection.BACK)"
        [ngClass]="{
          'm-featureCarousel__itemSelectorArrow--disabled':
            (visibleCarouselIndex$ | async) === 0
        }"
        data-test="feature-carousel-back-arrow"
        >arrow_back</i
      >
      <div
        *ngFor="let item of carouselItems; let i = index"
        class="m-featureCarousel__itemSelectorDot"
        [ngClass]="{
          'm-featureCarousel__itemSelectorDot--inactive':
            i !== (visibleCarouselIndex$ | async)
        }"
        (click)="jumpCarousel(i)"
        data-test="feature-carousel-selector-dot"
      ></div>
      <i
        class="material-icons m-featureCarousel__itemSelectorArrow"
        (click)="moveCarousel(CarouselMoveDirection.FORWARD)"
        [ngClass]="{
          'm-featureCarousel__itemSelectorArrow--disabled':
            (visibleCarouselIndex$ | async) === carouselItems.length - 1
        }"
        data-test="feature-carousel-forward-arrow"
        >arrow_forward</i
      >
    </div>
  </div>
</ng-container>
