<div class="m-twoColumnLayout__contentContainer">
  <!-- -------------------------------->
  <!-- OIDC BUTTON & TOGGLE -->
  <!-- -------------------------------->
  <m-oidcLoginButtons
    (hasOidcProviders)="setHasOidcProviders($event)"
    (done)="done.next($event)"
  ></m-oidcLoginButtons>

  <div class="m-login__oidcOther" *ngIf="hasOidcProviders && hideLogin">
    <span class="m-auth__toggleFormMessage m-auth__toggleFormMessage--oidc"
      ><a (click)="hideLogin = false" data-ref="data-minds-oidc-other">
        Login with username / password
      </a></span
    >
  </div>

  <!-- -------------------------------->
  <!-- LOGIN FORM -->
  <!-- -------------------------------->
  <form
    (submit)="$event.preventDefault()"
    [formGroup]="form"
    class="m-form m-login-box m-formWrapper"
    [hidden]="hideLogin"
  >
    <div class="m-layout__grid">
      <div class="m-form__field--text stretchedField">
        <div class="m-form__input--details">
          <div class="m-form__row--label">
            <label for="username" i18n="@@COMMON__USERNAME">
              Username
            </label>
          </div>
          <div class="m-login__error" *ngIf="!!usernameError">
            <ng-container
              *ngIf="usernameError == 'LoginException::EmailAddress'"
              i18n="@@MINDS__LOGIN__EXCEPTION__ENTERED_EMAIL_ADDRESS_NOT_USERNAME"
            >
              Enter username, not email
            </ng-container>
            <ng-container
              *ngIf="usernameError == 'LoginException::UsernameRequired'"
              i18n="@@MINDS__LOGIN__EXCEPTION__USERNAME_REQUIRED"
            >
              Username is required.
            </ng-container>
          </div>
        </div>
        <div class="m-form__row--input">
          <input
            type="text"
            id="username"
            formControlName="username"
            autocomplete="username"
            (keydown.enter)="login(); $event.preventDefault();"
            data-ref="data-minds-login-username-input"
          />
        </div>
      </div>

      <div class="m-form__field--text stretchedField">
        <div class="m-form__row--label">
          <label for="password" i18n="@@COMMON__PASSWORD">
            Password
          </label>
        </div>
        <div class="m-form__row--input">
          <input
            type="password"
            id="password"
            formControlName="password"
            autocomplete="current-password"
            (keydown.enter)="login(); $event.preventDefault();"
            data-ref="data-minds-login-password-input"
          />
        </div>
      </div>
    </div>

    <div class="m-layout__row m-login__actions">
      <div>
        <a
          class="m-auth__underlinedLink"
          (click)="onForgotPasswordClick()"
          data-ref="data-minds-forgot-password-button"
        >
          <ng-container i18n="@@FORMS__LOGIN__FORGOT_PASSWORD_LINK">
            Forgot Password?
          </ng-container>
        </a>
        <div class="m-login__formError" [hidden]="!errorMessage">
          <ng-container *ngTemplateOutlet="errorTemplate"></ng-container>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="m-twoColumnLayout__footer">
  <span class="m-auth__toggleFormMessage">
    Don't have an account?
    <a (click)="onShowRegisterFormClick()">
      Join {{site.title}} Now
    </a>
  </span>
  <m-button
    class="m-login__button--login"
    type="button"
    [saving]="inProgress"
    (onAction)="login()"
    color="blue"
    [solid]="true"
    data-ref="data-minds-login-button"
  >
    <ng-container i18n="@@M__ACTION__LOGIN">Login</ng-container>
  </m-button>
</div>

<!-- -------------------------------->
<!-- TWO FACTOR -->
<!-- -------------------------------->
<m-multiFactorAuth *ngIf="!hideMFA" [embedded]="true"></m-multiFactorAuth>

<!-- -------------------------------->
<!-- TEMPLATE: ERROR MESSAGES -->
<!-- -------------------------------->

<ng-template #errorTemplate>
  <ng-container [ngSwitch]="errorMessage">
    <ng-template
      ngSwitchCase="LoginException::AttemptsExceeded"
      i18n="@@MINDS__LOGIN__EXCEPTION__ATTEMPTS_EXCEEDED"
    >
      You have exceeded your login attempts. Please try again in a few minutes.
    </ng-template>
    <ng-template
      ngSwitchCase="LoginException::DisabledUser"
      i18n="@@MINDS__LOGIN__EXCEPTION__DISABLED_USER"
    >
      This account has been disabled
    </ng-template>
    <ng-template
      ngSwitchCase="LoginException::AuthenticationFailed"
      i18n="@@MINDS__LOGIN__EXCEPTION__INCORRECT_USERNAME_PASSWORD"
    >
      Incorrect username/password. Please try again.
    </ng-template>
    <ng-template
      ngSwitchCase="LoginException::AccountLocked"
      i18n="@@MINDS__LOGIN__EXCEPTION__ACCOUNT_LOCKED"
    >
      Account locked
    </ng-template>
    <ng-template
      ngSwitchCase="LoginException:BannedUser"
      i18n="@@MINDS__LOGIN__EXCEPTION__BANNED_USER"
    >
      You are not allowed to login.
    </ng-template>
    <ng-template
      ngSwitchCase="LoginException::CodeVerificationFailed"
      i18n="@@MINDS__LOGIN__EXCEPTION__CODE_VERIFICATION_FAILED"
    >
      Sorry, we couldn't verify your two factor code. Please try logging again.
    </ng-template>
    <ng-template
      ngSwitchCase="LoginException::InvalidToken"
      i18n="@@MINDS__LOGIN__EXCEPTION__INVALID_TOKEN"
    >
      Invalid token
    </ng-template>

    <ng-template
      ngSwitchCase="Minds::Core::Security::RateLimits::RateLimitExceededException"
      i18n="@@MINDS__RATE__LIMITS__EXCEEDED"
    >
      You have exceed the rate limit. Please try again later.
    </ng-template>

    <ng-template
      ngSwitchDefault
      i18n="@@MINDS__LOGIN__EXCEPTION__SORRY_THERE_WAS_AN_ERROR_PLEASE_TRY_AGAIN"
    >
      Sorry, there was an error. Please try again.
    </ng-template>
  </ng-container>
</ng-template>
