<div
  style="transition: all 0.3s; overflow: hidden; flex: 1;"
  [style.height.px]="!connection ? (containerHeight$ | async) : undefined"
  *ngIf="visible"
>
  <article
    (mResized)="onResized($event)"
    *ngIf="(recommendations$ | async).length"
    [ngClass]="{
      'm-publisherRecommendations__article--noOuterPadding': noOuterPadding
    }"
  >
    <header *ngIf="showTitle">
      <h3
        *ngIf="title; else defaultTitle"
        data-ref="publisher-recommendations-title-custom"
      >
        {{ title }}
      </h3>
      <ng-template #defaultTitle>
        <h3
          i18n="@@M_DISCOVERY_CARD_CAROUSEL__RECOMMENDED_FOR_YOU"
          data-ref="publisher-recommendations-title-recommended-for-you"
        >
          Recommended for you
        </h3>
      </ng-template>
      <div>
        <a
          [routerLink]="
            location === 'search'
              ? ['/search']
              : ['/', 'discovery', 'suggestions', publisherType]
          "
          [queryParams]="
            location === 'search'
              ? { f: 'groups' }
              : channelId && { u: channelId }
          "
          [queryParamsHandling]="location === 'search' ? 'merge' : ''"
          i18n="@@COMMON__SEE_MORE__ACTION"
          >See more</a
        >
        <m-dropdownMenu
          [menu]="dropdown"
          [anchorPosition]="{ top: '0', right: '0' }"
          *ngIf="dismissible"
        >
          <m-icon iconId="more_horiz" sizeFactor="1.5" rem="true"></m-icon>
        </m-dropdownMenu>
      </div>
    </header>
    <ul *ngIf="(recommendations$ | async).length" [@.disabled]="connection">
      <li
        @listAnimation
        *ngFor="
          let publisher of recommendations$
            | async
            | slice: 0:(listSize$ | async);
          let i = index;
          trackBy: trackByFn
        "
        (mViewed)="trackView(publisher, i + 1)"
      >
        <m-publisherCard
          [publisher]="publisher"
          noPadding="true"
          noBorder="true"
          showBoostedFlag="true"
          subscribeButtonIconOnly="true"
          membershipButtonColor="blue"
          secondaryRowCountsOnly="true"
          (subscribed)="onSubscribed($event)"
          (unsubscribed)="onUnsubscribed($event)"
        ></m-publisherCard>
      </li>
    </ul>
  </article>
</div>

<ng-template #dropdown>
  <ul>
    <m-dropdownMenu__item (click)="dismiss()" icon="close">
      <span i18n="@@COMMON__REMOVE_FROM_FEED">Remove from feed</span>
    </m-dropdownMenu__item>
  </ul>
</ng-template>
