<div
  class="m-composer__toolbar"
  [class.m-composer__toolbar--narrow]="narrow"
  [class.m-composer__toolbar--small]="isCompactMode$ | async"
  #toolbarWrapper
>
  <!----------------------------------------------->
  <!-- EMOJIS  -->
  <!----------------------------------------------->
  <m-emojiPicker
    *ngIf="!isMobile()"
    (emojiSelect)="onEmoji($event)"
  ></m-emojiPicker>
  <!----------------------------------------------->
  <!-- FILE UPLOAD  -->
  <!----------------------------------------------->
  <m-file-upload
    [wrapperClass]="[
      'm-composerToolbar__item',
      (uploadActive$ | async) ? 'm-composerToolbar__item--active' : ''
    ]"
    [hidden]="!canEditMetadata"
    [disabled]="(isPosting$ | async) || (isEditing$ | async)"
    [multiple]="true"
    [class.m-composerToolbar__item--small]="isCompactMode$ | async"
    (onSelect)="onAttachmentSelect($event)"
    accept="image/*,video/*,video/mp4,video/x-m4v"
    data-ref="upload-button"
    #fileUploadComponent
  >
    <m-icon
      class="m-composerToolbarItem__icon"
      from="md"
      iconId="photo"
    ></m-icon>
    <span class="m-composerToolbarItem__label" i18n="@@COMMON__UPLOAD"
      >Upload</span
    >
  </m-file-upload>
  <!----------------------------------------------->
  <!-- NSFW -->
  <!----------------------------------------------->
  <a
    *ngIf="nsfwEnabledService.nsfwEnabled$ | async"
    class="m-composerToolbar__item"
    [class.m-composerToolbar__item--active]="(nsfw$ | async)?.length"
    [class.m-composerToolbar__item--disabled]="isPosting$ | async"
    [class.m-composerToolbar__item--small]="isCompactMode$ | async"
    (click)="onNsfwClick($event)"
    data-ref="nsfw-button"
  >
    <m-icon class="m-composerToolbarItem__icon" iconId="explicit"></m-icon>
    <span
      class="m-composerToolbarItem__label"
      i18n="@@COMMON__NSFW"
      [class.composerToolbarItem__label--hidden]="isCompactMode$ | async"
      >NSFW</span
    >
  </a>
  <!----------------------------------------------->
  <!-- MONETIZE  -->
  <!----------------------------------------------->
  <ng-container *mIfTenant="false">
    <a
      *ngIf="
        !legacyPaywallEnabled &&
        !(remind$ | async) &&
        !(isGroupPost$ | async) &&
        !isSupermindRequest
      "
      class="m-composerToolbar__item"
      [class.m-composerToolbar__item--active]="monetization$ | async"
      [class.m-composerToolbar__item--disabled]="isPosting$ | async"
      [class.m-composerToolbar__item--small]="isCompactMode$ | async"
      (click)="onMonetizeClick($event)"
      data-ref="monetize-button"
    >
      <i
        class="m-composerToolbarItem__icon m-composerToolbarItem__icon--monetize material-icons"
        [class.m-animation__shimmer--icon]="showShimmer"
        >attach_money</i
      >
      <span
        class="m-composerToolbarItem__label"
        [class.m-animation__shimmer--text]="showShimmer"
        [class.composerToolbarItem__label--hidden]="isCompactMode$ | async"
        i18n="@@COMMON__MONETIZE"
        >Monetize</span
      >
    </a>
  </ng-container>
  <!----------------------------------------------->
  <!-- TAGS  -->
  <!----------------------------------------------->

  <a
    class="m-composerToolbar__item"
    [class.m-composerToolbar__item--active]="(tags$ | async)?.length"
    [class.m-composerToolbar__item--disabled]="isPosting$ | async"
    [class.m-composerToolbar__item--small]="isCompactMode$ | async"
    (click)="onTagsClick($event)"
    data-ref="tags-button"
  >
    <m-icon
      class="m-composerToolbarItem__icon"
      from="text"
      iconId="#"
      [sizeFactor]="25"
    ></m-icon>
    <span
      class="m-composerToolbarItem__label"
      [class.composerToolbarItem__label--hidden]="isCompactMode$ | async"
      i18n="@@COMMON__TAGS"
      >Tags</span
    >
  </a>
  <!----------------------------------------------->
  <!-- SUPERMIND  -->
  <!----------------------------------------------->
  <ng-container *mIfTenant="false">
    <a
      *ngIf="canCreateSupermindRequest$ | async"
      class="m-composerToolbar__item"
      [class.m-composerToolbar__item--active]="isSupermindRequest"
      [class.m-composerToolbar__item--disabled]="isPosting$ | async"
      [class.m-composerToolbar__item--small]="isCompactMode$ | async"
      (click)="onSupermindClick($event)"
      data-ref="supermind-create--button"
    >
      <m-icon
        class="m-composerToolbarItem__icon"
        from="md"
        iconId="tips_and_updates"
        [sizeFactor]="25"
      ></m-icon>
      <span
        class="m-composerToolbarItem__label"
        [class.composerToolbarItem__label--hidden]="isCompactMode$ | async"
        i18n="@@COMMON__SUPERMIND"
        >Supermind</span
      >
    </a>
  </ng-container>
  <!----------------------------------------------->
  <!-- LIVE STREAM  -->
  <!----------------------------------------------->
  <ng-container *ngIf="shouldShowLivestreamButton">
    <a class="m-composerToolbar__item" (click)="createLiveStream()">
      <m-icon class="m-composerToolbarItem__icon" iconId="videocam"></m-icon>
      <span class="m-composerToolbarItem__label" i18n="@@COMMON__LIVE_STREAM"
        >Live Stream</span
      >
    </a>
  </ng-container>
  <!----------------------------------------------->
  <!-- POST  -->
  <!----------------------------------------------->
  <span class="m-composerToolbar__itemSpacer"></span>
  <m-button
    class="m-composerToolbar__action m-composerToolbar__action--post"
    [disabled]="
      !(canPost$ | async) || (inProgress$ | async) || (isPosting$ | async)
    "
    [saving]="(inProgress$ | async) || (isPosting$ | async)"
    [dropdown]="postButtonDropdown"
    [dropdownAnchorPosition]="{ top: '100%', right: '0' }"
    [showDropdownMenu]="canSchedule$ | async"
    (onAction)="onPost($event)"
    [size]="(isCompactMode$ | async) ? 'xsmall' : 'small'"
    [color]="(isCompactMode$ | async) ? 'grey' : 'blue'"
    data-ref="post-button"
  >
    <span
      *ngIf="!(isEditing$ | async); else isEditingButtonText"
      i18n="verb|@@COMMON__POST"
      >Post</span
    >
    <ng-template #isEditingButtonText
      ><span i18n="@@COMMON__SAVE">Save</span></ng-template
    >
    <span
      class="m-composerToolbarAction__disabledOverlay"
      *ngIf="
        !(canPost$ | async) || (inProgress$ | async) || (isPosting$ | async)
      "
    ></span>
  </m-button>
</div>

<ng-template #postButtonDropdown>
  <ng-container *ngIf="canSchedule$ | async">
    <ul>
      <m-dropdownMenu__item (click)="onSchedulerClick()" icon="alarm"
        ><span i18n="@@COMPOSER__SCHEDULE_POST">
          Schedule Post
        </span></m-dropdownMenu__item
      >
    </ul>
  </ng-container>
</ng-template>
