<m-dashboardLayout>
  <ng-container m-dashboardLayout__body *ngIf="!tabs || inProgress">
    <div *ngIf="!tabs" class="m-wallet__spinner">
      <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
    </div>
  </ng-container>
  <ng-container m-dashboardLayout__body>
    <ng-container *ngTemplateOutlet="tabsTemplate"></ng-container>
    <router-outlet></router-outlet>
  </ng-container>
</m-dashboardLayout>

<ng-template #tabsTemplate>
  <div class="m-tabs__container">
    <div class="m-tabs__tab">
      <a
        routerLink="/wallet/tokens"
        routerLinkActive="m-tabs__tab--selected"
        data-ref="wallet-tab-tokens"
        >Tokens</a
      >
    </div>
    <div class="m-tabs__tab">
      <a
        routerLink="/wallet/cash"
        routerLinkActive="m-tabs__tab--selected"
        data-ref="wallet-tab-cash"
        >Cash</a
      >
    </div>
    <div class="m-tabs__tab" *ngIf="isGiftCardClaimExperimentActive">
      <a
        routerLink="/wallet/credits"
        routerLinkActive="m-tabs__tab--selected"
        data-ref="wallet-tab-credits"
        >Credits</a
      >
    </div>
    <div class="m-layout__spacer"></div>
    <m-wallet__tokenPriceBadge
      *ngIf="shouldShowTokenPriceBadge()"
    ></m-wallet__tokenPriceBadge>
  </div>
</ng-template>
