@import 'defaults';

.m-card--large {
  padding: 24px;
  margin-bottom: 16px;
  @include m-theme() {
    background-color: themed($m-bgColor--primary);
  }

  h2 {
    font-size: 42px;
    margin: 0;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 42px;
    @include m-theme() {
      color: themed($m-grey-800);
    }
  }

  .m-card--subtext {
    font-size: 16px;
    line-height: 20px;
    margin: 8px 0 16px;
    padding: 0;
  }
}

minds-graph-line svg {
  @include m-theme() {
    stroke: themed($m-grey-500);
  }
}

minds-graph-pie svg {
  @include m-theme() {
    background-color: themed($m-grey-100);
  }

  circle {
    @include m-theme() {
      stroke: themed($m-blue--contrast);
    }
  }
}

.m-actions-block minds-button-thumbs-up,
.m-actions-block minds-button-thumbs-down,
.m-commentToolbar__buttons minds-button-thumbs-up,
.m-commentToolbar__buttons minds-button-thumbs-down,
minds-button-thumbs-up,
minds-button-thumbs-down {
  a {
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
    &:hover {
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
    }
  }
  .selected {
    @include m-theme() {
      color: themed($m-action) !important;
    }
  }
  .selected:hover {
    @include m-theme() {
      color: themed($m-blue--contrast) !important;
    }
  }
}

.m-selector {
  position: relative;

  select {
    padding: 8px 16px;
    max-width: 100%;
    appearance: none;
    display: block;
    width: 100%;
    font-family: 'Inter', Helvetica, sans-serif;
    font-size: 13px;
    cursor: pointer;
    font-weight: 600;
    @include m-theme() {
      border: 1px solid themed($m-borderColor--primary);
    }
  }

  &::before {
    content: '\25bc';
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 1px;
    padding-top: 0.7em;
    line-height: 1;
    right: 0;
    width: 2em;
    text-align: center;
    transform: scale(0.84, 0.42);
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=.84, M12=0, M21=0, M22=.42, SizingMethod='auto expand');
    @include m-theme() {
      color: themed($m-grey-500);
    }
  }
}

/////////////////////////////////////////////////////
// BUTTON STYLES FROM RETIRED LEGACY MODULE

.minds-button-edit,
.m-button {
  > button {
    cursor: pointer;
    background: transparent;
    padding: 8px 16px;
    font-size: 12px;
    border-radius: 2px;
    text-transform: uppercase;
    @include m-theme() {
      color: themed($m-grey-800);
    }

    &.material-icons {
      padding: $minds-padding * 0.5;
      font-size: 24px;
    }
  }

  &:focus,
  > button:focus {
    outline: none;
    -webkit-appearance: none;
  }

  > button:hover,
  > button.subscribed,
  > button.selected {
    //background-color: themed($m-grey-400);
    @include m-theme() {
      color: themed($m-grey-950);
    }
  }
}

minds-button-subscribe {
  &.m-subscribeButton--iconsOnly {
    & > div {
      height: 34px;
      width: 34px;
      border: 1px solid #ececec;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;

      & > i {
        color: #a3a3a3;
      }

      &.m-subscribeButton__subscribed {
        & > i {
          @include m-theme() {
          }
        }
      }
    }
  }

  button.m-btn--subscribe {
    white-space: nowrap;
  }

  &.m-button-icon-only button {
    min-width: 0;
    width: 36px;
    padding: 4px;
    overflow: hidden;
    white-space: nowrap;
  }
}

minds-button-feature > button {
  padding: 4px;
}

minds-button-remind {
  a {
    cursor: pointer;
  }
}

.m-action-tabs {
  minds-button-feature > button {
    background: none;
    padding: 0;
    border: 0;
  }
}

.selected {
  @include m-theme() {
    color: themed($m-counter-action);
  }
}

.minds-counter:before {
  //content:'( ';
}

.minds-counter {
  font-family: 'Inter', 'Helvetica', sans-serif;
  display: inline-block;
  font-size: 12px;
  font-weight: 800;
  vertical-align: middle;
  padding: 0 8px;
  white-space: nowrap;
}

.minds-counter:after {
  //content:' )';
}

.minds-bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  cursor: default;
}

.m-bgOverlay--v2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  cursor: default;
  z-index: 1;
}

minds-button-comment a,
minds-button-remind a {
  @include m-theme() {
    color: themed($m-textColor--secondary);
  }
}

minds-button-comment > a,
minds-button-remind > a {
  &:hover {
    @include m-theme() {
      color: themed($m-textColor--primary);
    }
  }
}

/////////////////////////////////////////////////////
// CARDS STYLES FROM RETIRED LEGACY MODULE

.minds-banner-card {
  display: block !important;
  .m-card--user--banner {
    width: 100%;
    height: 84px;
    overflow: hidden;
    position: relative;

    .m-card--user--banner--img {
      width: 100%;
      height: 100%;
      background: none no-repeat center center transparent;
      background-size: cover;
      @include m-theme() {
        background-color: themed($m-grey-800);
      }
    }

    .minds-banner-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include m-theme() {
        background: linear-gradient(transparent, rgba(themed($m-black), 0.4));
      }
    }
  }

  .minds-usercard-block {
    margin-top: -60px;
    padding-bottom: 0;
    position: relative;
    display: flex;
    text-decoration: none;
    @include m-theme() {
      color: themed($m-white-always);
    }

    img {
      @include m-theme() {
        border: 1px solid themed($m-borderColor--primary);
      }
    }

    .body {
      flex: 1;
      margin: 0 20px 20px;
      max-width: calc(100% - #{100px + ($minds-padding * 3)});

      h3 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 16px;
        line-height: 18px;
        padding: 0 0 0 1px;
        margin: 0;
        @include m-theme() {
          text-shadow: -1px -1px 0 themed($m-black-always),
            1px -1px 0 themed($m-black-always),
            -1px 1px 0 themed($m-black-always),
            1px 1px 0 themed($m-black-always);
        }
      }
      span {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 0 0 1px;
        @include m-theme() {
          text-shadow: -1px -1px 0 themed($m-black-always),
            1px -1px 0 themed($m-black-always),
            -1px 1px 0 themed($m-black-always),
            1px 1px 0 themed($m-black-always);
        }
      }
      button {
        margin-top: $minds-margin;
        width: 100%;
      }
    }
  }

  minds-button-subscribe,
  m-boostButton {
    position: absolute;
    margin: -26px 0 0 110px;
  }

  minds-button-feature {
    position: absolute;
    top: 8px;
    right: 8px;
    button {
      padding: 0;
    }
  }

  .minds-tabs {
    flex: 1;
    align-items: flex-start;
    -webkit-align-items: -webkit-flex-start;
    justify-content: flex-start;
    border: 0;

    a {
      padding: 0 $minds-padding;
      //flex: auto;
      flex: 1;

      span {
        width: 100%;
        display: block;
        font-size: 11px;
        height: 11px;
        vertical-align: middle;
        line-height: 36px;
      }
    }
  }

  .minds-usercard-buttons {
    position: absolute;
    top: $minds-padding;
    right: $minds-padding;

    &.has-feature-button {
      right: $minds-padding + 30px;
    }

    [buttons] {
      display: inline-block;
    }
  }
}

minds-card-image,
minds-card-video {
  position: relative;
  overflow: hidden;

  .m-mature-thumbnail-overlay > i.material-icons {
    transform: translate(-50%, calc(-50% - 36px));
  }

  .minds-video-thumbnail {
    @include m-theme() {
      background-color: rgba(themed($m-black-always), 0.9);
    }
  }
}

.mdl-card {
  .m-owner-block {
    padding: 16px;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    .body {
      margin-top: 0;
      max-width: 95%;
      a {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      strong {
        display: inline-block;
        max-width: 100%;
        max-width: calc(100% - 62px);
        vertical-align: middle;
        letter-spacing: 0.25px;
        font-family: 'Inter', Helvetica, sans-serif;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .permalink {
        text-decoration: none;
        font-family: 'Inter', Helvetica, sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.75px;
        text-rendering: optimizeLegibility;
        text-overflow: unset;
        white-space: pre-wrap;

        > * {
          padding-right: 8px;
        }

        @include m-theme() {
          color: themed($m-grey-400);
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

minds-card-album {
  min-height: 260px !important;

  .minds-media-albums-card {
    @include m-theme() {
      background-color: themed($m-grey-900);
    }
  }

  .minds-album-tiles {
    margin: -16px;
    height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    -webkit-align-items: stretch;

    > a {
      flex: auto;
      width: 30%;

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  .minds-album-tiles.tiles-1 > a {
    width: 100%;
  }
  .minds-album-tiles.tiles-2 > a {
    width: 50%;
    img {
      max-height: 150%;
      max-width: 150%;
    }
  }
  .minds-album-tiles.tiles-3 > a {
    width: 33%;
  }
}

minds-activity.mdl-card,
minds-activity,
minds-activity-preview {
  width: auto;
  min-height: 0;
  margin-bottom: 16px;
  border-radius: 6px;
  overflow: visible;

  .mdl-card__supporting-text {
    width: 100%;
    box-sizing: border-box;
    font-family: 'Inter', Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    @include m-theme() {
      color: rgba(themed($m-black), 0.8);
    }

    a {
      text-decoration: none;
    }
  }
  .mdl-card__supporting-text.message {
    white-space: pre-line;
    word-wrap: break-word;
    padding-top: 0;
    word-break: break-word;
  }

  textarea.mdl-card__supporting-text.message {
    white-space: pre-wrap;
  }

  .m-owner-block {
    position: relative;
  }

  .m-owner-block--remind {
    overflow: visible;

    i {
      font-size: 18px;
      margin-right: 12px;
    }
    .avatar img {
      width: 24px;
      height: 24px;
      object-fit: cover;
    }
    .body {
      margin-left: 12px;
      a {
        font-size: 12px;
        letter-spacing: 0.011em;
      }
    }
  }

  .m-activity--message-remind {
    padding-top: 0;
    padding-bottom: 8px;
  }

  .m-translate-button i {
    font-size: 18px;
  }

  .m-edited-text {
    text-transform: uppercase;
    padding-right: 8px;
    font-weight: bold;
    letter-spacing: 0.5px;
  }

  .m-translationLabel__content {
    padding-top: 0;
    font-size: 0.75em;

    i {
      vertical-align: bottom;
      vertical-align: text-bottom;
    }

    a {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  minds-comments {
    margin-top: 0;

    .m-translationLabel__content {
      font-size: 1em;
    }
    .m-comment-carrot.m-comment-carrot-collapsed {
      display: none;

      @media screen and (max-width: $max-mobile) {
        display: inline-block;
      }
    }
    .mdl-card__menu {
      @include m-theme() {
        background-color: themed($m-bgColor--primary);
      }
    }
    minds-card-comment:hover {
      .m-comment-carrot {
        display: inline-block;
      }
    }
    .minds-block .minds-body a {
      //span {
      //  vertical-align: middle;
      //  font-family: 'Inter', Helvetica, sans-serif;
      //  text-rendering: optimizeLegibility;
      //  letter-spacing: 0.75px;
      //  -webkit-font-smoothing: antialiased;
      //  font-weight: 800;
      //}
      //.minds-comment-span {
      //  top: 0;
      //  font-weight: 400;
      //  text-transform: uppercase;
      //}
    }
  }

  .minds-more {
    i {
      font-size: 30px;
      transform: translate(-16px, -12px);
      font-weight: 100;
    }
  }

  /**
   * Rich embeds
   */
  .m-rich-embed {
    a {
      width: 100%;
    }
    img {
      width: 100%;
    }

    .meta {
      padding: $minds-padding * 2 $minds-padding * 2 0;
      display: block;
      text-decoration: none;
      width: calc(100% - 32px);

      p {
        font-size: 13px;
        text-overflow: ellipsis;
        text-rendering: auto;
        white-space: pre-wrap;
        overflow: hidden;
        max-height: 48px;
        margin: 8px 0;
        padding: 0;
        line-height: 1.25;
      }
      p.m-url {
        white-space: nowrap;
        max-width: 240px;
      }
    }
  }

  .item-image-video {
    m-videoPlayer {
      display: inline;
    }
    video {
      width: 100%;
      height: auto;
    }
  }

  .item-image {
    img {
      width: 100%;
      max-height: 1500px;
      object-fit: contain;
    }
  }

  .is-boosted {
    display: inline-block;
    width: auto;
    font-size: 11px;
    padding: 0;
    padding-right: 8px;
    line-height: 1;
    vertical-align: middle;
    @include m-theme() {
      color: themed($m-grey-400);
    }

    i {
      font-size: 18px;
      position: relative;
      vertical-align: middle;

      &.unlisted {
        font-size: 16px;
        margin-right: 4px;
      }
    }
    a {
      font-weight: bold;
      vertical-align: middle;
      @include m-theme() {
        color: themed($m-grey-400);
      }
    }
  }

  .is-boosted.is-onchain {
    @include m-theme() {
      color: themed($m-blue);
    }

    a {
      @include m-theme() {
        color: themed($m-action);
      }
    }
  }

  /**
   * Remind
   */
  minds-remind {
    margin: 0;
    width: auto;
    min-height: 0;
    overflow: visible;

    .m-owner-block {
      padding-top: 0;
    }
  }

  .m-activity--pending {
    padding: $minds-padding ($minds-padding * 2);
    font-size: 12px;
    font-weight: 400;
    @include m-theme() {
      color: themed($m-warn-fg);
      background-color: themed($m-warn-bg);
    }
  }
}

/**
 * Action tabs
 */
.tabs,
.m-action-tabs {
  padding: $minds-padding * 1.5 $minds-padding * 2 $minds-padding * 1.5;
  display: flex;
  box-sizing: border-box;
  width: 100%;

  &.m-action-tabs-hoverover {
    visibility: 0;
    :hover {
      visibility: 1;
    }
  }

  &.m-action-tabs-fixed {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  > * {
    display: flex;
    flex-direction: column;
    //flex:auto;
    flex: 1;

    text-align: center;
    cursor: pointer;
  }
  > template,
  script {
    display: none;
  }
  .selected {
    @include m-theme() {
      color: themed($m-blue) !important;
    }

    &:hover {
      @include m-theme() {
        color: themed($m-blue--contrast) !important;
      }
    }
  }
  i {
    vertical-align: middle;
    font-size: 22px;
  }
}

.minds-add-card {
  padding: 32px 16px;
  text-align: center;
  text-decoration: none;
  i {
    font-size: 90px !important;
  }
  h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
  }
}

.minds-editable-container {
  box-sizing: border-box;
  padding: $minds-padding;
  text-align: right;
  width: 100%;

  textarea {
    padding: $minds-padding;
    color: inherit;
    @include m-theme() {
      border: 1px solid themed($m-borderColor--primary);
    }
  }

  button {
    margin: $minds-margin;
  }
}

.m-activity--boost-notice {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
}
