<div
  class="m-modalV2__inner m-channel__edit"
  *ngIf="service.channel$ | async as channel"
>
  <div class="m-modalV2__header m-channelEdit__header">
    <h2 class="m-modalV2Header__title" i18n="@@CHANNEL_EDIT__EDIT_PROFILE">
      Edit Profile
    </h2>
    <a
      [routerLink]="getProSettingsRouterLink(channel)"
      *mIfTenant="false"
      ngPreserveWhitespaces
    >
      <ng-container i18n="@@CHANNEL_EDIT__PRO_SETTINGS"
        >Pro Settings</ng-container
      >
      <span>&rarr;</span>
    </a>
  </div>

  <form
    class="m-channelEdit__content m-formWrapper"
    (keydown.enter)="$event.preventDefault()"
  >
    <m-accordion
      class="m-accordionV2 m-formLayout--buttonRight"
      [opened]="initialPane ? initialPane : 0"
    >
      <m-accordion__pane
        class="m-accordion__pane--noTopPadding"
        headerTitle="Bio &amp; Imagery"
        i18n-headerTitle="@@CHANNEL_EDIT__BIO_AND_IMAGERY"
      >
        <m-channelEdit__bio
          class="m-accordionPane__innerContentContainer"
        ></m-channelEdit__bio>

        <ng-container *ngTemplateOutlet="saveButton"></ng-container>
      </m-accordion__pane>

      <m-accordion__pane
        headerTitle="About Info"
        i18n-headerTitle="@@CHANNEL_EDIT__ABOUT_INFO"
      >
        <m-channelEdit__info
          class="m-accordionPane__innerContentContainer"
        ></m-channelEdit__info>

        <ng-container *ngTemplateOutlet="saveButton"></ng-container>
      </m-accordion__pane>

      <m-accordion__pane
        headerTitle="Hashtags"
        i18n-headerTitle="@@COMMON__HASHTAGS"
      >
        <m-channelEdit__hashtags
          class="m-accordionPane__innerContentContainer"
        ></m-channelEdit__hashtags>

        <ng-container *ngTemplateOutlet="saveButton"></ng-container>
      </m-accordion__pane>

      <m-accordion__pane
        headerTitle="Social Links"
        i18n-headerTitle="@@CHANNEL_EDIT__SOCIAL_LINKS"
      >
        <m-channelEdit__socialLinks
          class="m-accordionPane__innerContentContainer"
        ></m-channelEdit__socialLinks>

        <ng-container *ngTemplateOutlet="saveButton"></ng-container>
      </m-accordion__pane>
    </m-accordion>

    <ng-template #saveButton>
      <div class="m-form__buttonsContainer m-channelEdit__buttonsContainer">
        <m-button
          type="button"
          [disabled]="false"
          [saving]="service.inProgress$ | async"
          (onAction)="onSubmit()"
          i18n="@@COMMON__SAVE"
          >Save</m-button
        >
      </div>
    </ng-template>
  </form>
</div>

<m-modalCloseButton></m-modalCloseButton>
