<div class="m-proChannelFooter">
  <div class="m-proChannelFooter__items">
    <a
      *ngIf="showMessageButton()"
      (click)="onMessageClicked()"
      class="m-proChannelFooter__link"
      i18n-title="@@COMMON__MESSAGE"
    >
      Message
    </a>
    <a
      *ngFor="let link of footerLinks"
      class="m-proChannelFooter__link"
      [href]="link.href"
      [target]="getTarget(link)"
    >
      {{ link.title }}
    </a>
    <a class="m-proChannelFooter__link" routerLink="/p/privacy"> Privacy </a>
    <a class="m-proChannelFooter__link" routerLink="/p/monetization-terms">
      Terms
    </a>

    <ng-container *ngIf="currentUser">
      <ng-container *ngIf="isProDomain">
        <a
          class="m-proChannelFooter__link"
          [href]="viewProfileHref"
          target="_blank"
        >
          @{{ currentUsername }}
        </a>

        <a
          class="m-proChannelFooter__link"
          (click)="logout()"
          i18n="@@COMMON__LOGOUT"
          >Logout</a
        >
      </ng-container>

      <ng-container *ngIf="!isOwner">
        <span style="position: relative">
          <m-pro__footerMenuButton [channel]="user"></m-pro__footerMenuButton>
        </span>
      </ng-container>
    </ng-container>
  </div>

  <div class="m-proChannelFooter__items m-proChannelFooter__socialItems">
    <a [routerLink]="['/' + user.username + '/feed', { pro: '0' }]">
      <img
        alt="Minds"
        src="https://cdn-assets.minds.com/front/dist/en/assets/logos/bulb.svg"
      />
    </a>
    <span *ngFor="let profile of footerSocialProfiles">
      <a
        *ngIf="profile.key && profile.value"
        [href]="getSocialProfileURL(profile.value)"
        rel="noopener noreferrer"
        target="_blank"
      >
        <i [ngClass]="[getSocialProfileIconClass(profile)]"></i>
      </a>
    </span>
  </div>

  <div class="m-proChannelFooter__static">
    <span
      class="m-proChannelFooter__text"
      data-ref="m-proChannelFooter__text"
      >{{ footerText }}</span
    >
  </div>
</div>
