<div class="m-newsfeed__inner">
  <ng-container [m-clientMeta]="{ source: 'feed/subscribed', medium: 'feed' }">
    <ng-container *ngIf="permissions.canCreatePost()">
      <m-composer [size]="'compact'" #composer></m-composer>
    </ng-container>

    <m-newsfeed__tabs></m-newsfeed__tabs>

    <div class="m-newsfeed__list">
      <!---------------------------------------------------------
        Only show the new composer post when on the 'latest' tab
      ----------------------------------------------------------->
      <ng-container *ngIf="(algorithm$ | async) === 'latest'">
        <ng-container
          *ngFor="let preActivity of prepended$ | async; let i = index"
        >
          <m-activity
            [entity]="preActivity"
            [displayOptions]="{
              showOnlyCommentsInput: true,
              isFeed: true
            }"
            (deleted)="delete(preActivity)"
          ></m-activity>
        </ng-container>
      </ng-container>

      <!--actual feed-->
      <ng-container
        *ngFor="
          let edge of edges$ | async | slice: 0:(pageSize$ | async) as edges;
          let i = index;
          trackBy: trackByFn
        "
      >
        <!---------------------------
          Display the boost rotator
        ----------------------------->
        <ng-container *mIfTenant="false">
          <ng-container *mIfBrowser>
            <m-newsfeed--boost-rotator
              *ngIf="i === 1 && showBoostRotator"
              #feedViewChildren
              #boostRotator
            ></m-newsfeed--boost-rotator>
          </ng-container>
        </ng-container>

        <ng-container [ngSwitch]="edge.__typename">
          <!----------------
            InFeedNotice
          ----------------->
          <ng-template ngSwitchCase="FeedNoticeEdge">
            <m-feedNotice__switch
              [key]="edge.node.key"
              [location]="edge.node.location"
              [dismissible]="edge.node.dismissible"
            ></m-feedNotice__switch>
          </ng-template>

          <!----------------
            Boosts
          ----------------->
          <ng-template ngSwitchCase="BoostEdge">
            <m-activity
              *ngIf="edge.node"
              [entity]="edge.node.legacy"
              [displayOptions]="{
                showOnlyCommentsInput: true,
                isFeed: true
              }"
              [slot]="i + 1"
              (deleted)="delete(edge.node)"
            ></m-activity>
          </ng-template>

          <ng-template ngSwitchCase="FeedHeaderEdge">
            <m-feedHeader--inline
              [text]="edge.node.text"
            ></m-feedHeader--inline>
          </ng-template>

          <!----------------
            Activity
          ----------------->
          <ng-template ngSwitchCase="ActivityEdge">
            <m-activity
              *ngIf="edge.node"
              [entity]="edge.node.legacy"
              [displayOptions]="{
                showOnlyCommentsInput: true,
                isFeed: true,
                showExplicitVoteButtons: edge.explicitVotes && !isTenant.is(),
                hideTopBorder: edges?.[i - 1]?.__typename === 'FeedHeaderEdge'
              }"
              [slot]="i + 1"
              (deleted)="delete(edge.node)"
            ></m-activity>
          </ng-template>

          <ng-template ngSwitchCase="FeedHighlightsEdge">
            <m-topHighlights
              (onSeeMore)="onShowMoreTopFeed()"
              *ngIf="!(isTopHighlightsDismissed$ | async)"
              [connection]="edge.node"
            ></m-topHighlights>
          </ng-template>

          <ng-template ngSwitchCase="PublisherRecsEdge">
            <m-publisherRecommendations
              *ngIf="!(isPublisherRecommendationsDismissed$ | async)"
              location="newsfeed"
              [dismissible]="edge.dismissible"
              [connection]="edge.node"
            ></m-publisherRecommendations>
          </ng-template>

          <ng-template ngSwitchCase="FeedExploreTagEdge">
            <m-exploreTagFeedItem [tag]="edge.node.tag"></m-exploreTagFeedItem>
          </ng-template>
        </ng-container>
      </ng-container>

      <infinite-scroll
        *ngIf="!(showEmptyFeedNotice$ | async)"
        (load)="fetchMore()"
        [moreData]="canShowMoreEdges$ | async"
        [inProgress]="inProgress"
        hideManual="true"
      >
      </infinite-scroll>

      <!----------------
            Empty feed notices
          ----------------->
      <ng-container *ngIf="showEmptyFeedNotice$ | async">
        <!-- ------------------------ -->
        <!-- EMPTY FEED: TOP -->
        <!-- ------------------------ -->
        <ng-container *ngIf="(algorithm$ | async) === 'top'">
          <m-notice iconId="rocket_launch">
            <span
              m-notice__title
              i18n="@@NEWSFEED__TOP_FEED__EMPTY_NOTICE_TITLE"
              >There’s nothing topping the charts just yet</span
            >
            <span
              m-notice__description
              i18n="@@NEWSFEED__TOP_FEED__EMPTY_NOTICE_DESC"
              >Top posts from channels you subscribe to will appear here.</span
            >
            <ng-container m-notice__actions>
              <ng-container
                [ngTemplateOutlet]="topLatestEmptyFeedActions"
              ></ng-container>
            </ng-container>
          </m-notice>
        </ng-container>
        <!-- ------------------------ -->
        <!-- EMPTY FEED: LATEST -->
        <!-- ------------------------ -->
        <ng-container *ngIf="(algorithm$ | async) === 'latest'">
          <m-notice iconId="history">
            <span
              m-notice__title
              i18n="@@NEWSFEED__LATEST_FEED__EMPTY_NOTICE_TITLE"
              >Latest stories are just around the corner</span
            >
            <span
              m-notice__description
              i18n="@@NEWSFEED__LATEST_FEED__EMPTY_NOTICE_DESC"
              >The latest posts from channels you subscribe to will appear
              here.</span
            >
            <ng-container m-notice__actions>
              <ng-container
                *ngTemplateOutlet="topLatestEmptyFeedActions"
              ></ng-container>
            </ng-container>
          </m-notice>
        </ng-container>
        <!-- ------------------------ -->
        <!-- EMPTY FEED: GROUPS -->
        <!-- ------------------------ -->
        <ng-container *ngIf="(algorithm$ | async) === 'groups'">
          <m-notice iconId="rocket_launch">
            <span
              m-notice__title
              i18n="@@NEWSFEED__GROUP_FEED__EMPTY_NOTICE_TITLE"
              >You are not in any groups at the moment</span
            >
            <span
              m-notice__description
              i18n="@@NEWSFEED__GROUP_FEED__EMPTY_NOTICE_DESC"
              >The latest posts from groups you've joined will appear
              here.</span
            >
            <ng-container m-notice__actions>
              <m-button
                *ngIf="permissions.canCreateGroup()"
                color="blue"
                (onAction)="clickedCreateGroup()"
                data-ref="m-newsfeedGqlEmptyFeedNotice__createGroupButton"
                i18n="@@NEWSFEED_NOTICE__CREATE_GROUP"
                >Create group</m-button
              >
              <m-button
                color="blue"
                solid="true"
                (onAction)="clickedDiscoverGroups()"
                data-ref="m-newsfeedGqlEmptyFeedNotice__discoverGroupsButton"
                i18n="@@NEWSFEED_NOTICE__DISCOVER_GROUPS"
                >Discover groups</m-button
              >
            </ng-container>
          </m-notice>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</div>

<ng-template #topLatestEmptyFeedActions>
  <m-button
    color="blue"
    data-ref="m-newsfeedGqlEmptyFeedNotice__copyLinkButton"
    (onAction)="copyInviteLinkToClipboard()"
    ><i class="material-icons">content_copy</i>
    <ng-container i18n="@@NEWSFEED_NOTICE__COPY_INVITE_LINK"
      >Copy invite link</ng-container
    ></m-button
  >
  <m-button
    (onAction)="clickedDiscoverChannels()"
    color="blue"
    solid="true"
    data-ref="m-newsfeedGqlEmptyFeedNotice__discoverChannelsButton"
    i18n="@@NEWSFEED_NOTICE__DISCOVER_CHANNELS"
    >Discover channels</m-button
  >
</ng-template>
