<m-settingsV2__header>
  <div class="m-settingsV2__headerLabel">
    <span i18n="@@SETTINGS__PRO__FOOTER__LABEL">Footer</span>
  </div>
  <div class="m-settingsV2__desc" i18n="@@SETTINGS__PRO__FOOTER___DESCRIPTION">
    Set up your site's footer links.
    <a class="m-form__upgradeLink" routerLink="/pro" *ngIf="!isActive"
      >Upgrade to Pro</a
    >
  </div>
</m-settingsV2__header>

<form *ngIf="form" [formGroup]="form" class="m-formLayout--buttonRight">
  <div class="m-form__fieldsContainer containsDragDrop">
    <div class="m-form__field--grid" formArrayName="footer_links">
      <div class="m-form__row--label">
        <label i18n="@@COMMON__LINKS">Links</label>
        <m-tooltip
          ><span m-tooltip--anchor>𝒊</span>
          <ng-container i18n="@@FOOTER__CAN_POST_EXTERNAL_BELOW"
            >You can post external links below</ng-container
          > </m-tooltip
        ><button
          type="button"
          (click)="addBlankFooterLink()"
          data-ref="m-settingsProFooter__button--addLink"
          i18n="@@FOOTER__ADD"
        >
          Add
        </button>
      </div>
      <div class="m-form__row--input" *ngIf="footer_links.value.length > -1">
        <m-draggableList
          [headers]="['Label', 'Url']"
          [data]="footer_links.value"
          [id]="'title'"
          (emptyListHeaderRowClicked)="addBlankFooterLink()"
          (arrayChanged)="setFooterLinks($event)"
          #footerDraggable
        >
          <ng-template let-link="item" let-i="i">
            <ng-container [formGroupName]="i">
              <input
                class="m-draggableList__cell form-control"
                type="text"
                [id]="'footer_link-title-' + i"
                [name]="'footer_link[' + i + '][title]'"
                formControlName="title"
                autofocus
                [attr.data-ref]="'m-settingsProFooterLinkInput__title--' + i"
                (focusin)="footerDraggable.onFocusIn($event)"
                (focusout)="footerDraggable.onFocusOut($event)"
                (mouseover)="footerDraggable.onFocusIn($event)"
                (mouseout)="footerDraggable.onFocusOut($event)"
              />

              <input
                class="m-draggableList__cell form-control"
                type="text"
                [id]="'footer_link-href-' + i"
                [name]="'footer_link[' + i + '][href]'"
                formControlName="href"
                [attr.data-ref]="'m-settingsProFooterLinkInput__href--' + i"
                (focusin)="footerDraggable.onFocusIn($event)"
                (focusout)="footerDraggable.onFocusOut($event)"
                (mouseover)="footerDraggable.onFocusIn($event)"
                (mouseout)="footerDraggable.onFocusOut($event)"
              />
            </ng-container>
          </ng-template>
        </m-draggableList>
      </div>
    </div>
    <div class="m-form__field--text stretchedField">
      <div class="m-form__row--label">
        <label for="footer_text" i18n="@@COMMON__TEXT">Text</label>
        <m-tooltip
          ><span m-tooltip--anchor>𝒊</span>
          <ng-container i18n="@@FOOTER__TEXT_DISPLAYED_BOTTOM_NOTICE"
            >This text will be displayed at the bottom of the page</ng-container
          >
        </m-tooltip>
      </div>
      <div class="m-form__row--input">
        <input
          type="text"
          id="footer_text"
          name="footer_text"
          formControlName="footer_text"
          class="form-control"
          #footer_text
        />
      </div>
    </div>
  </div>
  <div class="m-form__buttonsContainer">
    <m-button
      color="blue"
      [disabled]="!canSubmit()"
      [saving]="inProgress"
      (onAction)="submit()"
      i18n="@@FOOTER__SAVE_FOOTER"
    >
      Save Footer
    </m-button>
  </div>
</form>
