<m-dropdownMenu
  [menu]="dropdownMenu"
  [anchorPosition]="{ top: '50px', right: '-20px' }"
>
  <minds-avatar
    [object]="getCurrentUser()"
    [editMode]="false"
    data-ref="topnav-avatar"
  ></minds-avatar>
</m-dropdownMenu>

<ng-template #dropdownMenu>
  <ul class="m-userMenu__dropdown">
    <!-- Channel Option -->
    <m-dropdownMenu__item
      class="m-userMenuDropdown__item m-userMenuDropdown__username"
      [link]="['/', getCurrentUser().username]"
      data-ref="topnav-usermenu-channel"
    >
      @{{ getCurrentUser().username }}
    </m-dropdownMenu__item>

    <ng-container *mIfTenant="false">
      <!-- Upgrades Option -->
      <m-dropdownMenu__item
        *ngIf="!getCurrentUser().pro"
        class="m-userMenuDropdownItem__upgrade"
        link="/upgrades"
        data-ref="topnav-usermenu-upgrade"
      >
        <span i18n="@@COMMON__UPGRADE">Upgrade</span>
      </m-dropdownMenu__item>

      <!-- Admin Option -->
      <m-dropdownMenu__item
        *ngIf="isAdmin()"
        link="/admin/interactions"
        data-ref="topnav-usermenu-admin"
      >
        <span i18n="@@COMMON__ADMIN">Admin</span>
      </m-dropdownMenu__item>

      <!-- Boost Channel Option -->
      <m-dropdownMenu__item
        (click)="openBoostChannelModal()"
        data-ref="topnav-usermenu-boost-channel"
      >
        <span i18n="@@COMMON__BOOST_CHANNEL">Boost Channel</span>
      </m-dropdownMenu__item>
    </ng-container>

    <!-- Settings Option -->
    <m-dropdownMenu__item link="/settings" data-ref="topnav-usermenu-settings">
      <span i18n="@@COMMON__SETTINGS">Settings</span>
    </m-dropdownMenu__item>

    <!-- Help Option -->
    <m-dropdownMenu__item
      [externalLink]="getHelpdeskRedirectUrl()"
      data-ref="topnav-usermenu-help-zendesk"
      *mIfTenant="false"
    >
      <span i18n="@@COMMON__HELP">Help</span>
    </m-dropdownMenu__item>

    <!-- Logout Option -->
    <m-dropdownMenu__item link="/logout" data-ref="topnav-usermenu-logout">
      <span i18n="@@COMMON__LOGOUT">Logout</span>
    </m-dropdownMenu__item>
  </ul>
</ng-template>
