<div
  class="m-discovery__feedItem"
  *ngIf="entity && entity.type"
  [class.m-discovery__feedItem--publisher]="
    entity.type === 'user' || entity.type === 'group'
  "
>
  <ng-container [ngSwitch]="entity.type">
    <ng-template ngSwitchCase="user">
      <m-publisherCard [publisher]="entity"></m-publisherCard>
    </ng-template>
    <ng-template ngSwitchCase="group">
      <m-publisherCard [publisher]="entity"></m-publisherCard>
    </ng-template>
    <ng-template ngSwitchDefault>
      <m-activity
        [entity]="entity"
        [displayOptions]="{
          showOnlyCommentsInput: !openComments,
          isFeed: true
        }"
        [slot]="slot"
        (deleted)="onDelete($event)"
      ></m-activity>
    </ng-template>
  </ng-container>
</div>
