@mixin m-on-theme($theme) {
  body.m-theme__#{$theme} &,
  body .m-theme--wrapper.m-theme--wrapper__#{$theme} & {
    @content;
  }
}

// Create css selectors for themes
// Colors change when .theme__light/.theme__dark classes are toggled on body tag
@mixin m-theme() {
  @each $theme, $colors in $themes {
    @include m-on-theme($theme) {
      $theme-map: () !global;
      @each $color-name, $color in $colors {
        $value: map-get(map-get($themes, $theme), '#{$color-name}');
        $theme-map: map-merge(
          $theme-map,
          (
            $color-name: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($color-name) {
  @return map-get($theme-map, $color-name);
}

/**
 * Get color for a specific given theme.
 * e.g. `color: color-by-theme($m-action, "dark");`
 * @param color-name - variable of color.
 * @param theme-name - string theme name.
 * @returns requested color.
 */
@function color-by-theme($color-name, $theme-name) {
  @return map-get($themes, $theme-name, $color-name);
}

// CSS variables can be changes programatically. Note that any colours
// styled using these may have issues when being used within SCSS functions
// such as "lighten()".
:root {
  --primary-action-light: #1b85d6;
  --primary-action-dark: #ffd048;
}

// Dark theme lighten percentage
$percent: 5%;

//color palette -- newly generated

//greys

$grey-50: #f2f2f2;
$grey-100: #e8e8ea;
$grey-200: #d0d2d5;
$grey-300: #b9bbc0;
$grey-400: #a1a5ab;
$grey-500: #8a8e96;
$grey-600: #6f7278;
$grey-700: #53565a;
$grey-800: #38393d;
$grey-900: #1c1d1f;

//grey-light

//yellows
$yellow-50: #fffaed;
$yellow-100: #fff6da;
$yellow-200: #ffecb6;
$yellow-300: #ffe391;
$yellow-400: #ffd96d;
$yellow-500: #ffd048;
$yellow-500-alt: #ffd048;
$yellow-600: #d4ad3a;
$yellow-700: #a9892b;
$yellow-800: #7f661d;
$yellow-900: #54420e;

//blues

$blue-50: #edf1ff;
$blue-100: #dbe3ff;
$blue-200: #b7c7ff;
$blue-300: #92aaff;
$blue-400: #6e8eff;
$blue-500: #4a72ff;
$blue-600: #3b5dd5;
$blue-700: #2c48aa;
$blue-800: #1e3480;
$blue-900: #0f1f55;

//reds
$red-50: #fff3f2;
$red-100: #ffe8e5;
$red-200: #fed1cb;
$red-300: #feb9b0;
$red-400: #fda296;
$red-500: #fd8b7c;
$red-600: #dc7263;
$red-700: #bc584b;
$red-800: #9b3f32;
$red-900: #7b251a;

//greens/success
$green-50: #dbfffb;
$green-100: #aff2ea;
$green-200: #83e4d9;
$green-300: #58d7c7;
$green-400: #2cc9b6;
$green-500: #00bca5;
$green-600: #009684;
$green-700: #007163;
$green-800: #004b42;
$green-900: #002621;

//purples
$purple-50: #f5e8f7;
$purple-100: #ebd3f0;
$purple-200: #d8a9e1;
$purple-300: #c67fd1;
$purple-400: #b355c2;
$purple-500: #a02bb3;
$purple-600: #80228f;
$purple-700: #601a6b;
$purple-800: #401148;
$purple-900: #200924;

//system-defaults and external brands

$black: #000;
$white: #fff;

$facebook: #3b5998;
$facebook-2023: #1977f2;
$messenger: #0084ff;
$sms: #19c735;
$twitter: #03b3ee;
$twitter-2023: #1da1f1;
$whatsapp: #25d366;
$linkedin: #0071a1;

$blue-dark: #0052a3;

$blue: #1b85d6;
$blue-light: #4eb8ff;

$blue-grey-900: #191f28;
//theme maps

$themes: (
  light: (
    //regression : Legacy light colors used here.
      m-textColor--primary: #43434d,
    m-textColor--primaryInverted: #ffffff,
    m-textColor--secondary: #72727c,
    m-textColor--secondaryInverted: #b8c1ca,
    m-textColor--tertiary: #9b9b9b,
    m-bgColor--primary: #ffffff,
    m-bgColor--primaryInverted: #1f252c,
    m-bgColor--primaryDarkAlways: #1f252c,
    m-bgColor--primaryAlt: #e7edf3,
    m-bgColor--secondary: #f6f7f7,
    m-bgColor--secondaryAlt: #e6ebed,
    m-bgColor--contrast: #d8d8d8,
    m-bgColor--contrastSubtle: #dde4e6,
    m-bgColor--btnHover: #f0f3f7,
    m-bgColor--btnHoverLightAlways: #f0f3f7,
    m-bgColor--btnActive: #dadfe5,
    m-borderColor--primary: #d3dbe3,
    m-borderColor--secondary: #979797,
    m-borderColor--tertiary: #ececec,
    // aka #D2DBE3 @ 40%
      m-highlight--comment: #edf0f3,
    m-overlay: rgba(176, 176, 176, 0.5),
    m-alert: #e03c20,
    m-positive: #95c064,
    m-action: var(--primary-action-light),
    m-action--contrast:
      color-mix(in srgb, var(--primary-action-light), #000 20%),
    m-action-text: $white,
    //rotator button token
      m-rotator-action: #43434d,
    m-counter-action: #43434d,
    // legacy colors
      m-grey-900: $grey-900,
    m-grey-800: $grey-800,
    m-grey-700: $grey-700,
    m-grey-600: $grey-600,
    m-grey-500: $grey-500,
    m-grey: $grey-500,
    m-grey-400: $grey-400,
    m-grey-300: $grey-300,
    m-grey-200: $grey-200,
    m-grey-100: $grey-100,
    m-grey-50: $grey-50,
    m-blue: var(--primary-action-light),
    m-blue--contrast: color-mix(in srgb, var(--primary-action-light), #000 20%),
    m-aqua: $green-300,
    m-green-dark: $green-700,
    m-green: $green-500,
    m-green-light: $green-200,
    m-amber-dark: $yellow-700,
    m-amber: $yellow-500-alt,
    m-amber-medium: $yellow-600,
    m-amber-light: $yellow-200,
    m-red-dark: $red-700,
    m-red: $red-600,
    m-red-light: $red-200,
    m-purple: $purple-500,
    m-black: $black,
    m-black-always: $black,
    m-white: $white,
    m-white-always: $white,
    m-marketing-bg-gradient-start: #f9fafc,
    m-marketing-bg-colored-gradient-start: #f6eded,
    m-marketing-bg-colored-gradient-end: #f5f5fe,
    m-warn-bg: $yellow-200,
    m-warn-fg: $black,
    m-facebook: $facebook,
    m-facebook-2023: $facebook-2023,
    m-messenger: $messenger,
    m-sms: $sms,
    m-twitter: $twitter,
    m-twitter-2023: $twitter-2023,
    m-whatsapp: $whatsapp,
    m-linkedin: $linkedin,
    m-activity--hover: lighten($grey-500, $percent),
  ),
  dark: (
    m-textColor--primary: $grey-50,
    m-textColor--primaryInverted: $grey-900,
    m-textColor--secondary: $grey-300,
    m-textColor--secondaryInverted: $grey-50,
    m-textColor--tertiary: $grey-400,
    m-bgColor--primary: $grey-900,
    m-bgColor--primaryInverted: #ffffff,
    m-bgColor--primaryDarkAlways: $grey-900,
    m-bgColor--primaryAlt: $grey-900,
    m-bgColor--secondary: $grey-800,
    m-bgColor--secondaryAlt: #232b31,
    m-bgColor--contrast: #d8d8d8,
    m-bgColor--contrastSubtle: #283138,
    m-bgColor--btnHover: #343c44,
    m-bgColor--btnHoverLightAlways: #f0f3f7,
    m-bgColor--btnActive: #48525b,
    m-borderColor--primary: $grey-700,
    m-borderColor--secondary: $grey-600,
    m-borderColor--tertiary: $grey-500,
    m-highlight--comment: $grey-800,
    m-overlay: rgba(0, 0, 0, 0.5),
    m-alert: #fd8b7c,
    m-positive: #95c064,
    m-action: var(--primary-action-dark),
    m-action--contrast: color-mix(in srgb, var(--primary-action-dark), #000 20%),
    m-action-text: $grey-900,
    //rotator button token
      m-rotator-action: $grey-50,
    m-counter-action: var(--primary-action-dark),
    // legacy colors
      m-grey-900: $grey-100,
    m-grey-800: $grey-200,
    m-grey-700: $grey-300,
    m-grey-600: $grey-400,
    m-grey-500: $grey-500,
    m-grey: $grey-500,
    m-grey-400: $grey-600,
    m-grey-300: $grey-700,
    m-grey-200: $grey-800,
    m-grey-100: $grey-900,
    m-grey-50: $grey-900,
    m-black: $white,
    m-black-always: $black,
    m-white: #202527,
    m-white-always: $white,
    m-marketing-bg-gradient-start: #202527,
    m-marketing-bg-colored-gradient-start: #4e5965,
    m-marketing-bg-colored-gradient-end: #58565c,
    m-blue: var(--primary-action-dark),
    m-blue--contrast: color-mix(in srgb, var(--primary-action-dark), #000 20%),
    m-aqua: $green-300,
    m-green-dark: $green-200,
    m-green: $green-500,
    m-green-light: $green-700,
    m-amber-dark: $yellow-200,
    m-amber: $yellow-600,
    m-amber-medium: $yellow-500,
    m-amber-light: $yellow-800,
    m-red-dark: $red-600,
    m-red: $red-500,
    m-red-light: $red-700,
    m-purple: $purple-500,
    m-warn-bg: $yellow-800,
    m-warn-fg: $white,
    m-facebook: $facebook,
    m-facebook-2023: $facebook-2023,
    m-messenger: $messenger,
    m-sms: $sms,
    m-twitter: $twitter,
    m-twitter-2023: $twitter-2023,
    m-whatsapp: $whatsapp,
    m-linkedin: $linkedin,
    m-activity--hover: lighten($grey-400, $percent),
  ),
);

//enable use of vars in scss (in addition to strings)
// e.g. background-color: themed($m-grey-950)
// OR   background-color: themed('m-grey-950')
// Enable use of vars in scss (in addition to strings)
// e.g. background-color: themed($m-grey-950)
// OR   background-color: themed('m-grey-950')
$m-grey-950: 'm-grey-950';
$m-grey-900: 'm-grey-900';
$m-grey-800: 'm-grey-800';
$m-grey-700: 'm-grey-700';
$m-grey-600: 'm-grey-600';
$m-grey: 'm-grey';
$m-grey-500: 'm-grey-500';
$m-grey-400: 'm-grey-400';
$m-grey-300: 'm-grey-300';
$m-grey-200: 'm-grey-200';
$m-grey-100: 'm-grey-100';
$m-grey-50: 'm-grey-50';

$m-black: 'm-black';
$m-black-always: 'm-black-always';
$m-white: 'm-white';
$m-white-always: 'm-white-always';
$m-marketing-bg-gradient-start: 'm-marketing-bg-gradient-start';
$m-marketing-bg-colored-gradient-start: 'm-marketing-bg-colored-gradient-start';
$m-marketing-bg-colored-gradient-end: 'm-marketing-bg-colored-gradient-end';
$m-blue--contrast: 'm-blue--contrast'; // Used for hovering over blue links, etc.
$m-blue: 'm-blue';
$m-action-text: 'm-action-text';
$m-rotator-action: 'm-rotator-action';
$m-counter-action: 'm-counter-action';
$m-aqua: 'm-aqua';
$m-action: 'm-action';
$m-action--contrast: 'm-action';
$m-green-dark: 'm-green-dark';
$m-green: 'm-green';
$m-green-light: 'm-green-light';
$m-amber-dark: 'm-amber-dark';
$m-amber: 'm-amber';
$m-amber-medium: 'm-amber-medium';
$m-amber-light: 'm-amber-light';
$m-red-dark: 'm-red-dark';
$m-red: 'm-red';
$m-red-light: 'm-red-light';
$m-purple: 'm-purple';

$m-warn-bg: 'm-warn-bg';
$m-warn-fg: 'm-warn-fg';

$m-facebook: 'm-facebook';
$m-facebook-2023: 'm-facebook-2023';
$m-messenger: 'm-messenger';
$m-sms: 'm-sms';
$m-twitter: 'm-twitter';
$m-twitter-2023: 'm-twitter-2023';
$m-whatsapp: 'm-whatsapp';
$m-linkedin: 'm-linkedin';

$m-textColor--primary: 'm-textColor--primary';
$m-textColor--primaryInverted: 'm-textColor--primaryInverted';
$m-textColor--secondary: 'm-textColor--secondary';
$m-textColor--secondaryInverted: 'm-textColor--secondaryInverted';
$m-textColor--tertiary: 'm-textColor--tertiary';
$m-bgColor--primary: 'm-bgColor--primary';
$m-bgColor--primaryInverted: 'm-bgColor--primaryInverted';
$m-bgColor--primaryDarkAlways: 'm-bgColor--primaryDarkAlways';
$m-bgColor--primaryAlt: 'm-bgColor--primaryAlt';
$m-bgColor--secondary: 'm-bgColor--secondary';
$m-bgColor--secondaryAlt: 'm-bgColor--secondaryAlt';
$m-bgColor--contrast: 'm-bgColor--contrast';
$m-bgColor--contrastSubtle: 'm-bgColor--contrastSubtle';
$m-bgColor--btnHover: 'm-bgColor--btnHover';
$m-bgColor--btnHoverLightAlways: 'm-bgColor--btnHoverLightAlways';
$m-bgColor--btnActive: 'm-bgColor--btnActive';
$m-borderColor--primary: 'm-borderColor--primary';
$m-borderColor--secondary: 'm-borderColor--secondary';
$m-borderColor--tertiary: 'm-borderColor--tertiary';
$m-highlight--comment: 'm-highlight--comment';
$m-overlay: 'm-overlay';
$m-alert: 'm-alert';
$m-positive: 'm-positive';
$m-activity--hover: 'm-activity--hover';

//related radii tokens.

$m-borderRadius: 2px;
$m-borderRadius--curvy: 10px;

$m-boxShadowBlur: 10px;
$m-boxShadowOffset: 2px;

// Helpers

@function checkmark-image($color) {
  $urlEncodedColor: str-replace('' + $color, '#', '%23'); // `#` signs are bad
  @return 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4z" fill="#{$urlEncodedColor}"/></svg>';
}

$upgradeGradient: linear-gradient(93deg, #83e4d9 -4.6%, #ffd048 101.68%);

@function m-darken($color, $percent: 20%) {
  @return color-mix(in srgb, $color, #000 $percent);
}

@function m-lighten($color, $percent: 20%) {
  @return color-mix(in srgb, $color, #fff $percent);
}

// Gradients

/**
* Gradient used on /upgrade page
*
* USAGE
* 1. To apply gradient as background color,
* `@include supermindGradient;`
*
* 2. To apply as a border, apply gradient
* to a parent wrapper element and explicitly add
* the standard background color to child element.
*/
@mixin upgradeGradient {
  background: $upgradeGradient;
}
