<a
  *ngIf="!explicit"
  (click)="onClick($event)"
  [ngClass]="{
    selected: has(),
    'm-thumbButton--noPermission': !permissions.canInteract()
  }"
  data-ref="data-minds-thumbs-up-button"
  m-clientMeta
>
  <i
    class="material-icons"
    [class.inProgress]="session.getLoggedInUser() && inProgress"
    >thumb_up</i
  >
  <span
    class="minds-counter"
    *ngIf="object['thumbs:up:count'] > 0 && !iconOnly"
    [@counterChange]="object['thumbs:up:count']"
    data-ref="data-minds-thumbs-up-counter"
    >{{ object['thumbs:up:count'] | number }}</span
  >
</a>
<!-- --------------------------------------------- -->
<!-- EXPLICIT  -->
<!-- --------------------------------------------- -->
<m-button
  *ngIf="explicit"
  class="m-thumbButton--explicit"
  [ngClass]="{
    'm-thumbButton--noPermission': !permissions.canInteract()
  }"
  (onAction)="onClick($event)"
  [highlightText]="has()"
  size="xsmall"
  data-ref="data-minds-explicit-thumbs-up-button"
  m-clientMeta
>
  <i
    class="material-icons"
    [class.inProgress]="session.getLoggedInUser() && inProgress"
    >thumb_up</i
  >
  <span i18n="@@THUMBS_UP_BUTTON__EXPLICIT__SEE_MORE_OF_THIS"
    >See more of this</span
  >
</m-button>
<!-- --------------------------------------------- -->
<ng-container *ngIf="showFriendlyCaptcha">
  <m-friendlyCaptcha
    (done)="onFriendlyCaptchaComplete($event)"
    [puzzleOrigin]="'vote_up'"
  ></m-friendlyCaptcha>
</ng-container>
