<div
  class="m-networkAdminConsoleList__row--header m-networkAdminConsoleList__row"
>
  <div><span i18n="@@COMMON_USER">User</span></div>
  <!-- ------------------------------------------- -->
  <!-- ROLE FILTER  -->
  <!-- ------------------------------------------- -->
  <div class="m-networkAdminConsoleListHeaderRow__filtersWrapper">
    <div class="m-networkAdminConsoleListHeaderRow__filter--dropdown">
      <m-dropdownSelector
        *ngIf="filter.options.length > 0"
        [filter]="filter"
        [inlineLabel]="true"
        (selectionMade)="onFilterChange($event)"
      ></m-dropdownSelector>
    </div>
    <!-- ------------------------------------------- -->
    <!-- SEARCH BAR (DISABLED) -->
    <!-- ------------------------------------------- -->
    <!-- <div class="m-networkAdminConsoleListHeaderRow__filter--search">
      <input
        name="q"
        type="text"
        id="search"
        placeholder="Search"
        i18n-placeholder="@@COMMON__SEARCH"
        #searchInput
      />
      <i class="material-icons">search</i>
    </div> -->
  </div>
</div>
<!-- ------------------------------------------- -->
<!-- USERS  -->
<!-- ------------------------------------------- -->
<ng-container *ngFor="let user of users$ | async">
  <div
    class="m-networkAdminConsoleList__row--item m-networkAdminConsoleList__row"
  >
    <div class="m-networkAdminConsoleListRow__userWrapper">
      <m-hovercard
        class="m-networkAdminConsoleListRow__avatarWrapper"
        [publisher]="user.node.legacy"
        [offset]="[0, 15]"
      >
        <a [routerLink]="['/', user.node.username]">
          <img [src]="getUserAvatarUrl(user.node)" />
        </a>
      </m-hovercard>
      <div class="m-networkAdminConsoleListRow__namesContainer">
        <span>{{ user.node.name }}</span> <span>@{{ user.node.username }}</span>
      </div>
    </div>
    <m-role__aggregator [roles]="user.roles">
      <m-button
        class="m-networkAdminConsoleRolesUsers__editButton"
        (onAction)="onAssignRolesClick(user)"
        iconOnly="true"
        title="Assign roles"
        ><i class="material-icons">edit</i></m-button
      ></m-role__aggregator
    >
  </div>
</ng-container>
<infinite-scroll
  *ngIf="hasNextPage$ | async"
  (load)="fetchMore()"
  [moreData]="hasNextPage$ | async"
  [inProgress]="inProgress$ | async"
  [hideManual]="true"
></infinite-scroll>

<span
  class="m-networkAdminConsoleList__noResultsNotice"
  *ngIf="
    !(inProgress$ | async) &&
    (users$ | async).length < 1 &&
    (roleFilter$ | async)
  "
>
  No users are assigned this role.
</span>
