<div style="padding-bottom: 56.25%;"></div>

<mat-grid-list
  cols="2"
  [gutterSize]="isMinimalMode ? '4px' : '8px'"
  rowHeight="fit"
  (click)="onClickImage($event, 0)"
>
  <mat-grid-tile
    *ngFor="let image of images$ | async; let i = index; trackBy: trackByFn"
    [rowspan]="(count$ | async) === 3 && i === 1 ? 2 : 1"
    [ngClass]="{ 'm-border': !isMinimalMode }"
  >
    <!-- NOTE: the anchor wrapper is here to override the activity hover click -->
    <a class="m-activityContentMedia__link">
      <img
        [src]="image.src"
        [alt]="getAltTag(entity$ | async, i)"
        [m-blurhash]="image.blurhash"
        (click)="onClickImage($event, i)"
    /></a>
  </mat-grid-tile>
</mat-grid-list>
