<div class="m-tabs__container">
  <ng-container *ngIf="(isPlusPage$ | async) === false; else plusTabs">
    <div class="m-tabs__tab">
      <a
        routerLink="/discovery/trending"
        routerLinkActive="m-tabs__tab--selected"
        data-ref="discovery-tab-link-trending"
        i18n="@@DISCOVERY_TAGS__TRENDING"
        >Trending</a
      >
    </div>
    <div class="m-tabs__tab">
      <a
        routerLink="/discovery/tags/trending"
        routerLinkActive="m-tabs__tab--selected"
        data-ref="discovery-tab-link-trending-tags"
        i18n="@@DISCOVERY_TAGS__TRENDING_TAGS"
        >Trending tags</a
      >
    </div>
    <div class="m-tabs__tab" *ngIf="session.getLoggedInUser()">
      <a
        routerLink="/discovery/suggestions/user"
        [queryParams]="{ explore: true }"
        routerLinkActive="m-tabs__tab--selected"
        data-ref="discovery-tab-link-channels"
        i18n="@@DISCOVERY_TABS__CHANNELS"
        >Channels</a
      >
    </div>
    <div class="m-tabs__tab" *ngIf="session.getLoggedInUser()">
      <a
        routerLink="/discovery/suggestions/group"
        [queryParams]="{ explore: true }"
        routerLinkActive="m-tabs__tab--selected"
        data-ref="discovery-tab-link-groups"
        i18n="@@DISCOVERY_TABS__GROUPS"
        >Groups</a
      >
    </div>
  </ng-container>
  <!-- MINDS+ TABS -------------------------------->
  <ng-template #plusTabs>
    <div class="m-tabs__tab">
      <a
        routerLink="/discovery/plus/overview"
        routerLinkActive="m-tabs__tab--selected"
        data-ref="discovery-tab-link-plus-overview"
        i18n="@@DISCOVERY_TAGS__JUST_FOR_YOU"
        >Just for you</a
      >
    </div>
    <div class="m-tabs__tab" *ngIf="session.getLoggedInUser()">
      <a
        routerLink="/discovery/plus/tags/your"
        routerLinkActive="m-tabs__tab--selected"
        data-ref="discovery-tab-link-tags"
        i18n="@@DISCOVERY_TAGS__YOUR_TAGS"
        >Your tags</a
      >
    </div>
    <div class="m-tabs__tab" *ngIf="session.getLoggedInUser()">
      <a
        routerLink="/discovery/plus/tags/trending"
        routerLinkActive="m-tabs__tab--selected"
        data-ref="discovery-tab-link-trending"
        i18n="@@DISCOVERY_TAGS__TRENDING"
        >Trending</a
      >
    </div>
    <div class="m-tabs__tab">
      <a
        routerLink="/discovery/plus/latest/feed"
        routerLinkActive="m-tabs__tab--selected"
        data-ref="discovery-tab-link-plus-latest"
        i18n="@@DISCOVERY_TABS__LATEST"
        >Latest</a
      >
    </div>
  </ng-template>
  <!-- SETTINGS COG -------------------------------->
  <div class="m-layout__spacer"></div>
  <m-discovery__settingsButton
    modalType="tags"
    *mIfTenant="false"
  ></m-discovery__settingsButton>
</div>
