<div class="m-pageLayout__container" m-pageLayout__container>
  <div
    class="m-pageLayout__pane--main"
    m-pageLayout__pane="main"
    style="position: relative;"
  >
    <ng-container
      [m-clientMeta]="{ source: 'feed/discovery/search', medium: 'feed' }"
    >
      <div *ngIf="exploreTabContext; else searchTabTemplate">
        <m-discovery__tabs></m-discovery__tabs>
      </div>
      <ng-template #searchTabTemplate>
        <div class="m-tabs__container">
          <div class="m-tabs__tab">
            <a
              routerLink="./"
              routerLinkActive="m-tabs__tab--selected"
              [queryParams]="{ q: query, f: 'top', t: mediaType }"
              i18n="@@DISCOVERY_SEARCH__TOP"
              >Top</a
            >
          </div>
          <div class="m-tabs__tab">
            <a
              routerLink="./"
              routerLinkActive="m-tabs__tab--selected"
              [queryParams]="{ q: query, f: 'latest', t: mediaType }"
              i18n="@@DISCOVERY_SEARCH__LATEST"
              >Latest</a
            >
          </div>
          <div class="m-tabs__tab">
            <a
              routerLink="./"
              routerLinkActive="m-tabs__tab--selected"
              [queryParams]="{ q: query, f: 'channels', t: mediaType }"
              i18n="@@DISCOVERY__SEARCH__CHANNELS"
              >Channels</a
            >
          </div>
          <div class="m-tabs__tab">
            <a
              routerLink="./"
              routerLinkActive="m-tabs__tab--selected"
              [queryParams]="{ q: query, f: 'groups', t: mediaType }"
              i18n="@@DISCOVERY_SEARCH__GROUPS"
              >Groups</a
            >
          </div>
          <div class="m-layout__spacer"></div>
          <m-discovery__settingsButton
            modalType="feed"
          ></m-discovery__settingsButton>
        </div>
      </ng-template>

      <ng-container *mIfBrowser>
        <ng-container *ngIf="filter === 'latest'">
          <m-seeLatestPostsButton
            [count]="newResultsCount"
            (poll)="fetchNewResultsCount()"
            (click)="refreshResults()"
          ></m-seeLatestPostsButton>
        </ng-container>
      </ng-container>

      <m-discovery__tagWidget></m-discovery__tagWidget>

      <div class="m-discoveryFeeds__feed">
        <ng-container
          *ngFor="let edge of edges$ | async; let i = index; trackBy: trackByFn"
        >
          <!-- ---------------------- -->
          <!-- SEARCH RESULTS -->
          <!-- ---------------------- -->
          <ng-container
            *ngIf="
              ['ActivityEdge', 'UserEdge', 'GroupEdge'].includes(
                edge.__typename
              )
            "
          >
            <m-discovery__feedItem
              *ngIf="edge.node"
              [entity]="edge.node.legacy"
            ></m-discovery__feedItem>
          </ng-container>

          <ng-container [ngSwitch]="edge.__typename">
            <!----------------
              Boosts
            ----------------->
            <ng-template ngSwitchCase="BoostEdge">
              <m-discovery__feedItem
                *ngIf="edge.node"
                [entity]="edge.node.legacy"
                [slot]="i + 1"
              ></m-discovery__feedItem>
            </ng-template>
            <!----------------
              PublisherRecsEdge
            ----------------->
            <ng-template ngSwitchCase="PublisherRecsEdge">
              <m-publisherRecommendations
                *ngIf="!exploreTabContext"
                title="Groups"
                location="search"
                [dismissible]="false"
                [connection]="edge.node"
              ></m-publisherRecommendations>
            </ng-template>
          </ng-container>
        </ng-container>
        <infinite-scroll
          *ngIf="!(showEmptyFeedNotice$ | async)"
          (load)="fetchMore()"
          [moreData]="canShowMoreEdges$ | async"
          [inProgress]="inProgress"
          hideManual="true"
        >
        </infinite-scroll>
        <!-- --------------------------  -->
        <!-- NO RESULTS  -->
        <!-- --------------------------  -->
        <ng-container *ngIf="showEmptyFeedNotice$ | async">
          <ng-container
            *ngIf="session.getLoggedInUser(); else loggedOutEmptyFeedNotice"
          >
            <!-- NO SEARCH RESULTS -->
            <ng-container *ngIf="!exploreTabContext">
              <m-notice iconId="search">
                <span
                  m-notice__title
                  i18n="@@SEARCH__SEARCH__EMPTY_NOTICE_TITLE"
                  >We couldn’t find any results for “{{ query }}”.</span
                >
                <span
                  m-notice__description
                  i18n="@@SEARCH__SEARCH__EMPTY_NOTICE_DESC"
                  >Try searching for something else, or check back later.</span
                >
                <ng-container
                  m-notice__actions
                  *ngIf="permissions.canCreatePost()"
                >
                  <ng-container
                    [ngTemplateOutlet]="noResultsActions"
                  ></ng-container>
                </ng-container> </m-notice
            ></ng-container>
            <!-- NO RESULTS ON TRENDING TAB -->
            <ng-container *ngIf="exploreTabContext">
              <m-notice iconId="local_fire_department">
                <span
                  m-notice__title
                  i18n="@@SEARCH__TRENDING__EMPTY_NOTICE_TITLE"
                  >Ignite the conversation</span
                >
                <span
                  m-notice__description
                  i18n="@@SEARCH__TRENDING__EMPTY_NOTICE_DESC"
                  >The top posts from across the network will appear here.</span
                >
                <ng-container
                  m-notice__actions
                  *ngIf="permissions.canCreatePost()"
                >
                  <ng-container
                    [ngTemplateOutlet]="noResultsActions"
                  ></ng-container> </ng-container></m-notice></ng-container
          ></ng-container>
        </ng-container>
        <ng-template #loggedOutEmptyFeedNotice>
          <m-discovery__emptyGuestFeedNotice></m-discovery__emptyGuestFeedNotice>
        </ng-template>
      </div>
    </ng-container>
  </div>
  <!-- --------------------------  -->
  <!-- SIDEBAR  -->
  <!-- --------------------------  -->
  <div
    *ngIf="!exploreTabContext"
    class="m-discovery__sidebar"
    m-pageLayout__pane="right"
  >
    <div class="m-pageLayoutPane__inner">
      <div class="m-pageLayoutPane__sticky" m-stickySidebar>
        <m-discovery__sidebarTags></m-discovery__sidebarTags>
      </div>
    </div>
  </div>
</div>
<!-- --------------------------  -->
<!-- TEMPLATE: CREATE A POST BUTTON -->
<!-- --------------------------  -->
<ng-template #noResultsActions>
  <m-button
    color="blue"
    solid="true"
    data-ref="m-search__createAPostButton"
    (onAction)="openComposerModal()"
  >
    <ng-container i18n="@@SEARCH__CREATE_A_POST"
      >Create a post</ng-container
    ></m-button
  ></ng-template
>
