@import 'defaults.scss';

:host {
  .m-pageLayout__container {
    padding: 0;
  }

  .m-tabs__container {
    padding: 0 $spacing4;
  }

  .m-goBack a {
    padding: $spacing4 $spacing4;
  }

  ::ng-deep m-featured-content {
    > div {
      padding: 0;
      @include m-theme() {
        border-bottom: 1px solid themed($m-borderColor--primary);
      }
    }

    m-activity {
      padding: 0;
    }
  }

  ::ng-deep m-publisherCard {
    .m-publisherCard {
      border: none !important;

      @include m-theme() {
        border-bottom: 1px solid themed($m-borderColor--primary);
      }

      padding-left: $activityAvatarSpacingLeft--feed;
      padding-right: $activitySpacingRight--feed;

      @media screen and (max-width: $max-mobile) {
        padding-left: $activityAvatarSpacingLeft--feed--mobile;
        padding-right: $activitySpacingRight--feed--mobile;
      }
    }
  }

  // when the m-seeLatestPostsButton appears, make .m-goBack's position absolute
  // because m-seeLatestPostsButton has a sticky position and its relative positioning
  // should be defining the vertical spacing rather than .m-goBack's
  // m-seeLatestPostsButton.m-seeLatestPostButton--visible {
  //   position: absolute;
  //   top: 60px;
  // }

  ::ng-deep m-seeLatestPostsButton > div {
    margin-top: $spacing16;
    @include z-index(body);
  }
}
