<div class="m-featuredEntityRow__infoContainer" (click)="navigateToEntity()">
  <minds-avatar
    class="m-featuredEntityRow__avatar"
    [object]="buildAvatarEntity()"
  ></minds-avatar>
  <div class="m-featuredEntityRow__infoContainerRight">
    <ng-container [ngSwitch]="featuredEntity.__typename">
      <ng-container *ngSwitchCase="'FeaturedGroup'">
        <span class="m-featuredEntityRow__infoContainerName">{{
          featuredEntity.name | truncate: 30
        }}</span>
        <span class="m-featuredEntityRow__infoContainerSubtext"
          ><strong>{{ featuredEntity.membersCount }}</strong
          >&nbsp;<span
            i18n="
               group members|@@NETWORK_ADMIN_CONSOLE__FEATURED_ENTITY__MEMBERS
            "
            >members</span
          ></span
        >
      </ng-container>
      <ng-container *ngSwitchCase="'FeaturedUser'">
        <span class="m-featuredEntityRow__infoContainerName">{{
          featuredEntity.name | truncate: 30
        }}</span>
        <span class="m-featuredEntityRow__infoContainerSubtext"
          >@{{ featuredEntity.username | truncate: 30 }}</span
        >
      </ng-container>
    </ng-container>
  </div>
</div>

<div class="m-featuredEntityRow__actions">
  <div
    class="m-featuredEntityRowActions__action"
    [class.m-featuredEntityRowActions__action--active]="
      featuredEntity.autoPostSubscription
    "
  >
    <ng-container *ngIf="!(isUpdating$ | async); else updateInProgressTemplate">
      <i
        class="material-icons m-featuredEntityRowActions__icon"
        (click)="onPostSubscriptionClick()"
        >{{
          featuredEntity.autoPostSubscription
            ? 'notifications_on'
            : 'notifications'
        }}</i
      >
    </ng-container>
    <ng-template #updateInProgressTemplate>
      <m-sizeableLoadingSpinner
        [inProgress]="true"
        [spinnerHeight]="16"
        [spinnerWidth]="16"
      ></m-sizeableLoadingSpinner>
    </ng-template>
  </div>

  <div
    class="m-featuredEntityRowActions__action m-featuredEntityRowActions__action--delete"
  >
    <ng-container *ngIf="!(isDeleting$ | async); else deleteInProgressTemplate">
      <i
        class="material-icons m-featuredEntityRowActions__icon"
        (click)="onDeleteClicked()"
        >close</i
      >
    </ng-container>
    <ng-template #deleteInProgressTemplate>
      <m-sizeableLoadingSpinner
        [inProgress]="true"
        [spinnerHeight]="16"
        [spinnerWidth]="16"
      ></m-sizeableLoadingSpinner>
    </ng-template>
  </div>
</div>
