<div class="m-twoColumnLayout">
  <div class="m-twoColumnLayout__leftContainer">
    <div class="m-auth__titleRow">
      <a (click)="clickedBackButton()"
        ><i class="material-icons">chevron_left</i></a
      >
      <h2>
        <ng-container *ngIf="formDisplay === 'login'"
          >Login to {{ site.title }}</ng-container
        >
        <ng-container *ngIf="formDisplay === 'register'"
          >Join {{ site.title }}</ng-container
        >
      </h2>
    </div>
    <ng-container *ngIf="formDisplay === 'register'">
      <m-registerForm
        [source]="'auth-modal'"
        (done)="onRegisterDone($event)"
        (showLoginForm)="showLoginForm($event)"
        [inviteToken]="inviteToken"
      >
      </m-registerForm>
    </ng-container>
    <ng-container *ngIf="formDisplay === 'login'">
      <m-loginForm
        [source]="'auth-modal'"
        (done)="onLoginDone($event)"
        (doneRegistered)="onRegisterDone($event)"
        (showRegisterForm)="showRegisterForm($event)"
      >
      </m-loginForm>
    </ng-container>
  </div>
  <div
    class="m-twoColumnLayout__rightContainer"
    [ngClass]="{
      'm-twoColumnLayout__rightContainer--tenant': isTenantNetwork
    }"
  >
    <ng-container *ngIf="!isTenantNetwork; else tenantLogoTemplate">
      <m-loadingSpinner
        *ngIf="authModalImageService.inProgress$ | async"
        inProgress="true"
      ></m-loadingSpinner>
      <ng-container *ngIf="(carouselItems$ | async)?.length > 0">
        <m-featureCarousel [carouselItems$]="carouselItems$">
        </m-featureCarousel>
      </ng-container>
    </ng-container>
    <ng-template #tenantLogoTemplate>
      <img
        [src]="tenantLogoPath$ | async"
        class="m-authModal__tenantLogo"
        alt="Site logo"
      />
    </ng-template>
  </div>
</div>
