<!-- ----------------------------------- -->
<!-- PAYWALL BADGE -->
<!-- Minimal Mode only -->
<!-- Otherwise it is in owner block -->
<!-- ----------------------------------- -->
<m-paywallBadge
  *ngIf="(isMinimalMode || wasQuoted) && showPaywallBadge"
  [entity]="entity"
  [showTierName]="false"
></m-paywallBadge>
<!-- ----------------------------------- -->
<!-- PAYWALL -->
<!-- ----------------------------------- -->
<!-- Acts as a background overlay so user
can click anywhere on
post content to trigger upgrade modal -->
<ng-container
  [ngTemplateOutlet]="paywallTemplate"
  [ngTemplateOutletContext]="{
    hideText: !isStatus || (!isStatus && sidebarMode)
  }"
></ng-container>
<!-- ----------------------------------- -->
<!-- FIXED HEIGHT SPACER (BOOST ROTATOR ONLY)-->
<!-- ----------------------------------- -->
<div
  *ngIf="isFixedHeight && !wasQuoted"
  class="m-activityContent__fixedHeightSpacer"
></div>
<!-- ----------------------------------- -->
<!-- TEXT (WHEN TEXT ON TOP)-->
<!-- ----------------------------------- -->

<ng-container *ngIf="!isTextBelowMedia">
  <ng-container *ngTemplateOutlet="textTemplate"></ng-container>
</ng-container>
<!-- ----------------------------------- -->
<!-- RICH EMBED / BLOG -->
<!-- ----------------------------------- -->
<ng-container *ngIf="!hideMedia">
  <div class="m-activityContent__media--richEmbed" *ngIf="isRichEmbed">
    <ng-container
      *ngTemplateOutlet="paywallTemplate"
      [ngTemplateOutletContext]="{ hideText: sidebarMode }"
    ></ng-container>
    <m-richEmbed
      (mediaModalRequested)="onModalRequested($event)"
      [src]="entity"
      [maxheight]="isModal ? null : 320"
      [isModal]="isModal"
      [displayAsColumn]="
        isMinimalMode ||
        isModal ||
        service.displayOptions.boostRotatorMode ||
        isTenantNetwork
      "
    >
    </m-richEmbed>
  </div>
  <!-- ----------------------------------- -->
  <!-- VIDEO -->
  <!-- ----------------------------------- -->
  <div
    class="m-activityContent__media--video m-activityContent__media"
    *ngIf="isVideo"
    [ngClass]="{
      isPaywall: service.shouldShowPaywall$ | async,
      'm-activityContent__media--video--modal': isModal
    }"
  >
    <m-videoPlayer--scrollaware
      #videoEl
      [guid]="videoGuid"
      [shouldPlayInModal]="entity.remind_object ? false : !isModal"
      (mediaModalRequested)="onModalRequested($event)"
      [autoplay]="
        service.displayOptions.autoplayVideo &&
        !(service.shouldShowPaywall$ | async)
      "
      [style.height.px]="isModal ? null : videoHeight"
      [style.width.px]="isModal ? null : videoWidth"
      [isModal]="isModal"
      [style.overflow]="videoHeight && !isModal ? 'hidden' : null"
      [isLivestream]="entity?.custom_data?.livestream ?? false"
    >
      <ng-container
        *ngTemplateOutlet="paywallTemplate"
        [ngTemplateOutletContext]="{ hideText: sidebarMode }"
      ></ng-container>
    </m-videoPlayer--scrollaware>
  </div>
  <!-- ----------------------------------- -->
  <!-- IMAGE -->
  <!-- ----------------------------------- -->
  <div
    class="m-activityContent__media--image m-activityContent__media"
    *ngIf="isImage || (isMultiImage && isModal)"
    [ngClass]="{
      'm-activityContent__media--extraTallImage':
        extraTallImage && (service.displayOptions.isFeed || isMinimalMode),
      'm-activityContent__media--extraWideImage':
        extraWideImage && service.displayOptions.isFeed
    }"
    #imageContainerEl
  >
    <ng-container *ngIf="!isModal; else image">
      <a
        [routerLink]="showPaywallBadge ? null : sepLink"
        class="m-activityContentMedia__link"
        (click)="onModalRequested($event)"
      >
        <div
          *ngIf="
            (extraTallImage || extraWideImage) && service.displayOptions.isFeed
          "
          class="m-activityContentMedia__expandIcon"
          (click)="onModalRequested($event)"
        >
          <m-icon iconId="crop_free" sizeFactor="25"></m-icon>
        </div>
        <ng-container [ngTemplateOutlet]="image"></ng-container
      ></a>
    </ng-container>

    <ng-template #image>
      <ng-container
        *ngTemplateOutlet="paywallTemplate"
        [ngTemplateOutletContext]="{ hideText: sidebarMode }"
      ></ng-container>
      <img
        #imageEl
        [src]="!isMultiImage ? imageUrl : activeMultiImageUrl"
        [alt]="imageAltTag"
        (error)="onImageError($event)"
        (click)="onModalRequested($event)"
        [m-blurhash]="service.entity$ | async"
        [paywalled]="service.shouldShowPaywall$ | async"
        [style.object-fit]="
          (service.shouldShowPaywall$ | async) ? 'cover' : undefined
        "
        [style.height.px]="imageHeight"
        [style.width.px]="imageWidth"
        [ngClass]="{ 'm-border': !isModal && !isMinimalMode }"
        [loading]="hasLoadingPriority ? 'eager' : 'lazy'"
      />
    </ng-template>
  </div>
</ng-container>
<!-- ----------------------------------- -->
<!-- MULTI IMAGE -->
<!-- Excluding modals - multi-image displays same as single image in modal -->
<!-- because only one image is shown at a time -->
<!-- ----------------------------------- -->
<ng-container *ngIf="isMultiImage && !isModal">
  <ng-container
    *ngTemplateOutlet="paywallTemplate"
    [ngTemplateOutletContext]="{ hideText: sidebarMode }"
  ></ng-container>
  <m-activityContent__multiImage
    (onClick)="onModalRequested($event)"
    class="m-activityContent__media"
  ></m-activityContent__multiImage>
</ng-container>
<!-- ----------------------------------- -->
<!-- QUOTE -->
<!-- ----------------------------------- -->
<ng-container *ngIf="!hideMedia && !isModal">
  <div
    *ngIf="service.isQuote$ | async"
    class="m-activityContent__quote"
    [class.m-activityContent__quote--hasText]="!!text"
  >
    <ng-container
      *ngTemplateOutlet="paywallTemplate"
      [ngTemplateOutletContext]="{ hideText: sidebarMode }"
    ></ng-container>
    <m-activity__quote
      [parentService]="service"
      [entity]="service.entity$ | async"
      [style.height]="isFixedHeight ? 'auto' : quoteHeight"
      [style.max-height]="isFixedHeight ? 'auto' : quoteHeight"
    >
    </m-activity__quote>
  </div>
</ng-container>
<!-- ----------------------------------- -->
<!-- TEXT (WHEN TEXT ON BOTTOM)-->
<!-- ----------------------------------- -->
<ng-container *ngIf="isTextBelowMedia">
  <ng-container *ngTemplateOutlet="textTemplate"></ng-container>
</ng-container>
<!-- ----------------------------------- -->
<!-- SECONDARY HASHTAGS -->
<!-- ----------------------------------- -->
<ng-container *ngTemplateOutlet="secondaryTagsTemplate"></ng-container>
<!-- ----------------------------------- -->
<!-- FIXED HEIGHT SPACER (BOOST ROTATOR ONLY)-->
<!-- ----------------------------------- -->
<div
  *ngIf="isFixedHeight && !wasQuoted"
  class="m-activityContent__fixedHeightSpacer"
></div>
<!-- ----------------------------------- -->
<!-- FADEOUT (BOOST ROTATOR ONLY)-->
<!-- ----------------------------------- -->
<div
  (click)="onFixedHeightFadeoutClick($event)"
  *ngIf="isFixedHeight && !wasQuoted && !isStatus"
  class="m-activityContent__boostRotatorFadeout"
></div>

<!-- ----------------------------------- -->
<!-- REMIND DELETED NOTICE -->
<!-- ----------------------------------- -->
<div
  class="m-activityContent__remindDeletedNotice"
  *ngIf="(service.entity$ | async).remind_deleted"
>
  <i class="material-icons">info</i>
  <span
    >This reminded content is unavailable. It may have been deleted or you do
    not have permission to view it.</span
  >
</div>
<!-- ----------------------------------- -->
<!-- PERMALINK -->
<!-- ----------------------------------- -->
<m-activity__permalink
  *ngIf="showPermalink"
  class="m-activityContent__permalink"
></m-activity__permalink>
<!-- ----------------------------------- -->
<!-- TEMPLATE: SECONDARY TAGS -->
<!-- (Formerly hidden hashtags) -->
<!-- ----------------------------------- -->
<ng-template #secondaryTagsTemplate
  ><ng-container *ngIf="!hideText && entity?.tags && entity?.tags.length > 0">
    <div class="m-activityContent__secondaryTagsWrapper">
      <span *ngFor="let tag of entity.tags" [innerHTML]="'#' + tag | tags">
      </span></div></ng-container
></ng-template>
<!-- ----------------------------------- -->
<!-- TEMPLATE: TEXT-->
<!-- ----------------------------------- -->
<ng-template #textTemplate
  ><ng-container *ngIf="!hideText">
    <div
      #textEl
      class="m-activityContent__textWrapper"
      [maxHeightAllowed]="maxHeightAllowed || maxTextHeight"
      *ngIf="bodyText?.length >= 1 || titleText?.length >= 1"
    >
      <div class="m-activityContentText__innerWrapper">
        <p
          *ngIf="titleText"
          [innerHtml]="titleText | tags"
          class="m-activityContentText__title"
          [class.m-activityContentText__title--hasDescription]="bodyText"
          [ngClass]="{
            'm-activityContentText--translated': showTranslation
          }"
        ></p>
        <p
          *ngIf="bodyText && !hideBodyText"
          class="m-activityContentText__body"
          [class.m-activityContentText__body--shortStatus]="shortStatus"
          [class.m-activityContentText__body--mediumStatus]="mediumStatus"
          [ngClass]="{
            'm-activityContentText--translated': showTranslation
          }"
        >
          <m-readMore
            [text]="bodyText"
            [targetLength]="initialVisibleTextLength"
            [disabled]="
              service.displayOptions.isFeed && persistentFeedExperimentActive
            "
            [paywallContext]="usePaywallContextStyles"
            (onToggle)="onReadMoreClick($event)"
          ></m-readMore>
        </p>
      </div>
      <!-- ----------------------------------- -->
      <!-- TRANSLATION  -->
      <!-- ----------------------------------- -->
      <ng-container *mIfBrowser>
        <m-translate
          *ngIf="showTranslation"
          [open]="showTranslation"
          [entity]="entity"
          [translateEvent]="translateEvent"
          (onTranslate)="onTranslate($event)"
          (onTranslateError)="onTranslate($event)"
          [class.m-translate--minimalMode]="isMinimalMode"
          #translate
        ></m-translate>
      </ng-container>
    </div>
  </ng-container>
</ng-template>
<!-- ----------------------------------- -->
<!-- TEMPLATE: PAYWALL -->
<!-- ----------------------------------- -->
<!-- Hide paywall text (e.g. 'Only Minds+ users can see this post') only for the paywall that covers the entire size of the content component.  -->
<ng-template #paywallTemplate let-hide="hideText"
  ><ng-container *ngIf="!hideMedia">
    <m-activity__paywall
      *ngIf="service.shouldShowPaywall$ | async"
      [hideText]="hide"
    ></m-activity__paywall></ng-container
></ng-template>
