m-forgot-password {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50%;
    left: 30%;
    clip-path: polygon(55% 0, 100% 0, 100% 11%, 18% 87%);

    @include m-theme() {
      background: themed($m-amber-medium);
    }
  }

  @media screen and (max-width: $m-grid-max-mobile) {
    margin: -52px 0 50px;
    padding: 0 26px;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      clip-path: polygon(55% 0, 100% 0, 100% 30%, 18% 87%);
    }
  }

  .m-grid {
    position: relative;
    padding: 15vh 0 0;

    @media screen and (max-width: $m-grid-max-mobile) {
      padding: 10vh 0 0;
    }

    & > * {
      margin: 0 auto;
    }
  }

  .m-forgot-password__wrapper {
    display: block;
    max-width: 692px;
    -webkit-filter: drop-shadow(-1px 0 8px rgba(50, 50, 0, 0.5));
    filter: drop-shadow(-1px 0 8px rgba(50, 50, 0, 0.5));

    .m-forgot-password__modal {
      padding: 86px 67px 150px;
      display: block;
      -webkit-clip-path: polygon(0 2%, 100% 0, 100% 97%, 0 95%);
      clip-path: polygon(0 2%, 100% 0, 100% 97%, 0 95%);

      @include m-theme() {
        background-color: themed($m-bgColor--secondary);
      }

      @media screen and (max-width: $m-grid-max-mobile) {
        clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 99%);
        padding: 55px 26px 47px;

        h3 {
          text-align: center;
        }

        .mdl-card__actions {
          margin-top: 35px;

          label.mdl-checkbox {
            margin-bottom: 50px;
          }
        }
      }

      .m-forgot-password__iconContainer {
        margin: 32px;
        display: flex;
        justify-content: center;

        @include m-theme {
          color: themed($m-grey-200);
        }

        i {
          font-size: 80pt;
        }
      }

      .m-forgot-password__formWrapper {
        .m-forgot-password__header {
          margin-bottom: 36px;
        }
        .m-forgot-password__form {
          button {
            margin-left: 21px;
            @media screen and (max-width: $m-grid-max-mobile) {
              margin: unset;
            }
          }
        }
      }
    }
  }

  h3 {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 1.25;
    text-align: center;
    display: block;

    @media screen and (max-width: 720px) {
      padding-right: 8px;
      font-size: 16px;
    }

    @include m-theme {
      color: themed($m-grey-800);
    }
  }
}

.m-forgot-password__secondaryText {
  text-align: center;
  display: block;

  @include m-theme {
    color: themed($m-textColor--tertiary);
  }
}

.m-forgot-password--step-3 {
  .m-forgot-password__singleButtonWrapper {
    display: flex;
    flex-direction: row-reverse;
    button {
      margin: unset;
    }
  }
}

.m-forgot-password--error__text {
  color: red;
  padding-top: 16px;
  max-width: 300px;
}
