<ng-template #searchBar>
  <div class="m-topbar__searchBox">
    <ng-content select="[search]"></ng-content>
  </div>
</ng-template>

<div
  *ngIf="{
    isMinimalLightMode: isMinimalLightMode$ | async
  } as templateVars"
  class="m-topbar__top"
  [class.m-topbar__top--hasAlert]="shouldShowTopbarAlert$ | async"
  [class.m-topbar__top--noBorder]="
    !(pageLayoutService.hasTopbarBorder$ | async)
  "
  [class.m-topbar__top--noBackground]="
    !(pageLayoutService.hasTopbarBackground$ | async)
  "
  [class.m-topbar--homepageV3]="onHomepage"
  [class.m-topbar__top--loggedOut]="!getCurrentUser()"
  [class.m-topbar__top--minimalLightMode]="templateVars.isMinimalLightMode"
  [style.visibility]="showTopbar ? 'visible' : 'hidden'"
>
  <m-topbarAlert *ngIf="shouldShowTopbarAlert$ | async"></m-topbarAlert>

  <div class="m-topbarTop__inner m-pageLayout__container">
    <div class="m-topbar__leftColumn m-pageLayout__pane--left">
      <nav class="m-topbar__nav">
        <h1>
          <a
            class="m-topbarNav__item m-topbarNav__item--logo"
            [routerLink]="getMainLogoUrl()"
            title="Home"
            i18n-title="@@COMMON__HOME"
            data-ref="topnav-logo"
            aria-label="Home"
          >
            <ng-container
              *ngIf="
                !templateVars.isMinimalLightMode;
                else minimalLightModeLogoTemplate
              "
            >
              <img
                [src]="getSmallLogoSrc$() | async"
                [ngClass]="{ 'm-topbar__tenantLogo--square': isTenantNetwork }"
                class="m-topbar__logo--bulb"
                alt="Home"
              />
              <img
                *ngIf="
                  onHomepage
                    ? !(isDarkTheme$ | async) &&
                      (pageLayoutService.hasTopbarBackground$ | async)
                    : !(isDarkTheme$ | async)
                "
                [src]="getFullLogoSrc$('light') | async"
                [ngClass]="{
                  'm-topbar__tenantLogo--horizontal': isTenantNetwork
                }"
                class="m-topbar__logo--full"
                alt="minds"
              />
              <img
                *ngIf="
                  onHomepage
                    ? (isDarkTheme$ | async) ||
                      !(pageLayoutService.hasTopbarBackground$ | async)
                    : (isDarkTheme$ | async)
                "
                [src]="getFullLogoSrc$('dark') | async"
                [ngClass]="{
                  'm-topbar__tenantLogo--horizontal': isTenantNetwork
                }"
                class="m-topbar__logo--full"
                alt="minds"
              />
            </ng-container>
            <ng-template #minimalLightModeLogoTemplate>
              <img
                [src]="cdnAssetsUrl + 'assets/logos/logo-monotone-light.png'"
                class="m-topbar__logo--full"
                alt="minds"
              />
              <img
                [src]="
                  cdnAssetsUrl + 'assets/logos/logo-monotone-light-small.png'
                "
                class="m-topbar__logo--bulb"
                alt="minds"
              />
            </ng-template>
          </a>
        </h1>
        <m-environmentFlag *ngIf="!isTenantNetwork"></m-environmentFlag>
        <div
          class="m-topbarNav__item m-topbarNav__item--hamburger"
          (click)="toggleSidebarNav()"
        >
          <i class="material-icons">menu</i>
        </div>
      </nav>
    </div>

    <div
      class="m-pageLayout__pane--main"
      style="display:flex; flex-direction: row;"
    >
      <div class="m-topbar__middleColumn" *ngIf="showSearchBar">
        <ng-container *ngTemplateOutlet="searchBar"></ng-container>
      </div>

      <div class="m-topbar__spacer"></div>

      <div class="m-topbar__rightColumn">
        <ng-container *ngIf="!onAuthPages && !getCurrentUser()">
          <div
            class="m-topbarContainer__loginWrapper m-topbarContainer__loginWrapper--roundButtons"
          >
            <m-button
              class="m-topbarLoginWrapper__login"
              [ngClass]="
                onHomepage
                  ? {
                      'm-topbarLoginWrapper__login--white': !(
                        pageLayoutService.hasTopbarBackground$ | async
                      )
                    }
                  : undefined
              "
              (onAction)="onLoginClick()"
              title="Login"
              i18n-title="@@COMMON__LOGIN"
              data-ref="topnav-login"
              size="small"
              [color]="'blue'"
              [borderless]="onHomepage || templateVars.isMinimalLightMode"
            >
              Login
            </m-button>

            <m-button
              class="m-topbarLoginWrapper__joinMindsNow"
              (onAction)="onJoinNowClick()"
              title="Join Now"
              i18n-title="@@COMMON__JOIN_NOW"
              data-ref="topnav-join-now"
              size="small"
              [overlay]="
                !(pageLayoutService.hasTopbarBackground$ | async) && onHomepage
              "
              [color]="
                !templateVars.isMinimalLightMode ? 'blue' : 'black-always'
              "
              [solid]="pageLayoutService.hasTopbarBackground$ | async"
            >
              Join Now
            </m-button>
          </div>
        </ng-container>

        <div *ngIf="!onHomepage" class="m-topbar__userMenu">
          <div class="m-topbar__spacer"></div>
          <!-- edit -->
          <ng-content select="[icons]"></ng-content>
          <m-userMenu [useAvatar]="true" *ngIf="getCurrentUser()"></m-userMenu>
        </div>

        <div class="m-topbar__notificationsToasterWrapper">
          <div class="m-topbar__notificationsToaster">
            <ng-template dynamic-host></ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
