m-composer__base {
  display: block;
}

.m-composer__base {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 390px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s !important;
  box-sizing: border-box;

  &.m-composer__base--withPreview {
    height: 528px;
  }

  .m-composerBase__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100%;

    @media screen and (max-width: $max-mobile) {
      justify-content: space-between;
    }
  }

  m-composer__titleBar {
    margin-bottom: 20px;
  }

  .m-composerBase__textArea {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    padding: 20px 0 0;
  }

  .m-composerBase__error {
    padding: 24px 8px 0;
    text-align: center;
    font-size: 13px;
    border-top: 1px solid;
    margin-top: 20px;

    @include m-theme() {
      color: themed($m-alert);
      border-color: themed($m-borderColor--primary);
    }
  }

  .m-composerBase__scrollableArea {
    flex-grow: 1;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.m-composer__base--placeholder {
  .m-composer__base {
    height: 152px;
    display: block; // Do not use flex when minimized
    padding: 0;

    &.m-composer__base--withPreview {
      height: 680px;
    }

    m-composer__titleBar {
      display: none;
    }

    m-composer__textArea .m-composer__textArea textarea {
      min-height: 0;
      padding: 20px;
    }

    .m-composer__toolbar {
      padding: 20px;
    }

    &:not(.m-composer__base--withPreview) .m-composer__toolbar {
      border: 0;
    }

    .m-composer__previewWrapper {
      @include m-theme() {
        background-color: rgba(themed($m-bgColor--primary), 0.75);
      }
    }
  }

  .m-composer__base--small {
    height: 120px;
  }
}
