<m-dropdownMenu
  [anchorPosition]="{ top: '-20%', right: '0' }"
  [menu]="dropdownMenu"
  class="m-postMenu__button"
  ><i (click)="onButtonClick($event)" class="material-icons">{{
    icon
  }}</i></m-dropdownMenu
>

<ng-template #dropdownMenu>
  <ul>
    <m-dropdownMenu__item
      (click)="onSelectedOption('view')"
      *ngIf="options.indexOf('view') !== -1"
    >
      <span i18n="@@M__ACTION__VIEW">
        View
      </span>
    </m-dropdownMenu__item>
    <m-dropdownMenu__item
      (click)="onSelectedOption('edit')"
      *ngIf="shouldShowEdit()"
    >
      <span i18n="@@M__ACTION__EDIT_POST">
        Edit post
      </span>
    </m-dropdownMenu__item>

    <m-dropdownMenu__item
      (click)="onSelectedOption('hide-post')"
      *ngIf="options.indexOf('hide-post') !== -1 && entity?.boosted"
    >
      <span i18n="@@M__ACTION__HIDE_POST">
        Hide post
      </span>
    </m-dropdownMenu__item>

    <!-- Disable vs Allow Comments -->
    <ng-container
      *ngIf="service.entity.ownerObj.guid == session.getLoggedInUser().guid"
    >
      <ng-container
        *ngIf="service.entity.allow_comments; else enableCommentsTemplate"
      >
        <m-dropdownMenu__item (click)="onSelectedOption('disable-comments')">
          <span i18n="@@M__ACTION__DISABLE_COMMENTS">
            Disable comments
          </span>
        </m-dropdownMenu__item>
      </ng-container>
      <ng-template #enableCommentsTemplate>
        <m-dropdownMenu__item (click)="onSelectedOption('allow-comments')">
          <span i18n="@@M__ACTION__ENABLE_COMMENTS">
            Enable comments
          </span>
        </m-dropdownMenu__item>
      </ng-template>
    </ng-container>
    <ng-container *mIfTenant="false">
      <m-dropdownMenu__item
        (click)="onSelectedOption('boost')"
        *ngIf="shouldShowBoost()"
      >
        <span i18n="@@M__ACTION__BOOST_POST">
          Boost post
        </span>
      </m-dropdownMenu__item>
    </ng-container>
    <m-dropdownMenu__item
      *ngIf="options.includes('view-federated') && entity?.canonical_url"
      [externalLink]="entity.canonical_url"
    >
      <span>
        <ng-container i18n="@@M__ACTION__VIEW_ON">View on</ng-container>&nbsp;{{
          entity.ownerObj.username | federation
        }}
      </span>
    </m-dropdownMenu__item>
    <m-dropdownMenu__item
      (click)="onSelectedOption('share')"
      *ngIf="options.indexOf('share') !== -1"
    >
      <span i18n="@@M__ACTION__SHARE">
        Share
      </span>
    </m-dropdownMenu__item>
    <m-dropdownMenu__item
      (click)="onSelectedOption('download')"
      *ngIf="shouldShowDownload()"
    >
      <span i18n="@@COMMON__POST_MENU__DOWNLOAD">
        Download
      </span>
    </m-dropdownMenu__item>
    <ng-container *mIfTenant="false">
      <m-dropdownMenu__item
        (click)="onSelectedOption('wire')"
        *ngIf="options.indexOf('wire') !== -1"
      >
        <span i18n="@@M__ACTION__WIRE">
          Tip
        </span>
      </m-dropdownMenu__item>
    </ng-container>

    <ng-container *ngIf="service.canPin$ | async">
      <m-dropdownMenu__item
        (click)="onSelectedOption('pin')"
        *ngIf="
          options.indexOf('pin') !== -1 && (service.isPinned$ | async) === false
        "
      >
        <span i18n="@@M__ACTION__PIN">
          Pin
        </span>
      </m-dropdownMenu__item>
      <m-dropdownMenu__item
        (click)="onSelectedOption('pin')"
        *ngIf="
          options.indexOf('pin') !== -1 && (service.isPinned$ | async) === true
        "
      >
        <span i18n="@@M__ACTION__REMOVE_PIN">
          Remove pin
        </span>
      </m-dropdownMenu__item>
    </ng-container>
    <m-dropdownMenu__item
      (click)="onSelectedOption('translate')"
      *ngIf="options.indexOf('translate') !== -1 && isTranslatable"
    >
      <span i18n="@@M__ACTION__TRANSLATE">Translate</span>
    </m-dropdownMenu__item>
    <!-- SUBSCRIBE -->
    <ng-container *ngIf="options.indexOf('subscribe') !== -1">
      <m-dropdownMenu__item
        (click)="onSelectedOption('subscribe')"
        *ngIf="service.showSubscribe$ | async"
      >
        <span i18n="@@M__ACTION__SUBSCRIBE">Subscribe</span>
      </m-dropdownMenu__item>
      <m-dropdownMenu__item
        (click)="onSelectedOption('unsubscribe')"
        *ngIf="service.showUnSubscribe$ | async"
      >
        <span i18n="@@COMMON__POST_MENU__UNSUBSCRIBE">
          Unsubscribe
        </span>
      </m-dropdownMenu__item>
    </ng-container>

    <!-- NOTIFICATIONS -->
    <ng-container *ngIf="options.indexOf('follow') !== -1">
      <m-dropdownMenu__item
        *ngIf="(service.isFollowing$ | async) === null"
        disabled
      >
        <span i18n="@@COMMON__POST_MENU__FOLLOW_NOTIFICATIONS">
          Follow post
        </span>
      </m-dropdownMenu__item>
      <m-dropdownMenu__item
        (click)="onSelectedOption('unfollow')"
        *ngIf="(service.isFollowing$ | async) === true"
      >
        <span i18n="@@COMMON__POST_MENU__UNFOLLOW_NOTIFICATIONS">
          Un-follow post
        </span>
      </m-dropdownMenu__item>
      <m-dropdownMenu__item
        (click)="onSelectedOption('follow')"
        *ngIf="(service.isFollowing$ | async) === false"
      >
        <span i18n="@@COMMON__POST_MENU__FOLLOW_NOTIFICATIONS">
          Follow post
        </span>
      </m-dropdownMenu__item>
    </ng-container>

    <!-- BLOCK -->
    <ng-container
      *ngIf="
        options.indexOf('block') !== -1 &&
        entity.ownerObj.guid != session.getLoggedInUser().guid
      "
    >
      <m-dropdownMenu__item
        *ngIf="(service.isBlocked$ | async) === null"
        disabled
      >
        <span i18n="@@COMMON__POST_MENU__BLOCK_AND_UNBLOCK">
          Block/Unblock
        </span>
      </m-dropdownMenu__item>
      <m-dropdownMenu__item
        (click)="onSelectedOption('block')"
        *ngIf="(service.isBlocked$ | async) === false"
      >
        <span i18n="@@COMMON__POST_MENU__BLOCK">
          Block user
        </span>
      </m-dropdownMenu__item>
      <m-dropdownMenu__item
        (click)="onSelectedOption('unblock')"
        *ngIf="(service.isBlocked$ | async) === true"
      >
        <span i18n="@@COMMON__POST_MENU__UNBLOCK">
          Unblock user
        </span>
      </m-dropdownMenu__item>
    </ng-container>

    <!-- ADMIN EDIT FLAGS -->

    <ng-container *ngIf="options.indexOf('set-explicit') !== -1 && canEdit">
      <m-dropdownMenu__item class="m-postMenu__item--nsfw">
        <m-nsfwSelector
          (selectedChange)="setNSFWSelected($event)"
          [selected]="entity.nsfw"
          service="editing"
        ></m-nsfwSelector>
      </m-dropdownMenu__item>
    </ng-container>
    <ng-container *mIfTenant="false">
      <ng-container *ngIf="session.isAdmin()">
        <m-dropdownMenu__item [externalLink]="getUserSupersetUrl()">
          <span>
            View Superset dashboard
          </span>
        </m-dropdownMenu__item>
      </ng-container>
    </ng-container>

    <!-- INJECTED POST ACTIONS -->
    <div>
      <ng-content select="[post-menu]"></ng-content>
    </div>

    <!-- UNDO REMIND -->
    <m-dropdownMenu__item
      (click)="onSelectedOption('undo-remind')"
      *ngIf="shouldShowUndoRemind()"
    >
      <span i18n="@@M__ACTION__UNDO_REMIND">
        Undo remind
      </span>
    </m-dropdownMenu__item>

    <!-- REPORT -->
    <m-dropdownMenu__item
      (click)="onSelectedOption('report')"
      *ngIf="
        options.indexOf('report') !== -1 &&
        entity.owner_guid != session.getLoggedInUser().guid
      "
      red="true"
    >
      <span i18n="Report as notify something@@M__ACTION__REPORT_POST">
        Report post
      </span>
    </m-dropdownMenu__item>
    <!-- DELETE -->
    <m-dropdownMenu__item
      (click)="onSelectedOption('delete')"
      *ngIf="shouldShowDelete()"
      red="true"
    >
      <span i18n="@@M__ACTION__DELETE_POST">
        Delete post
      </span>
    </m-dropdownMenu__item>
  </ul>
</ng-template>
