<div class="m-notificationHistoryCard__wrapper">
  <div class="m-notificationHistoryCard__header">
    <span>Status: {{ notification.status }}</span>
    <span>{{ notification.timestamp | date: 'd MMM yyyy hh:mm a' }}</span>
  </div>
  <span class="m-notificationHistoryCard__sectionDivider"></span>
  <div class="m-notificationHistoryCard__body">
    <h4>{{ notification.title }}</h4>

    <div>
      {{ notification.message ?? "No message was provided with this push notification" }}
    </div>

    <div>
      <a [href]="notification.link" *ngIf="notification.link" target="_blank">
        {{ notification.link }}
      </a>
      <span *ngIf="!notification.link">
        No link was provided with this push notification
      </span>
    </div>
  </div>
  <span class="m-notificationHistoryCard__sectionDivider"></span>
  <div class="m-notificationHistoryCard__stats">
    <span>Total: {{ notification.counter }}</span>
    <span>Successful: {{ notification.successful_counter }}</span>
    <span>Failed: {{ notification.failed_counter }}</span>
    <span>Skipped: {{ notification.skipped_counter }}</span>
  </div>
</div>
