<div class="m-sidebarMore">
  <ul class="m-sidebarMore__dropdown">
    <!-- ------------------------------------------------------------ -->
    <ng-container *mIfTenant="false">
      <li
        class="m-sidebarMoreDropdown__item"
        *ngIf="getCurrentUser()"
        (click)="toggleSidebar()"
      >
        <a (click)="onEarnClick()" data-ref="sidebarmore-earn-modal">
          <i class="material-icons">attach_money</i>
          <span i18n="@@COMMON__EARN">Earn</span>
        </a>
      </li>
    </ng-container>
    <!-- ------------------------------------------------------------ -->
    <ng-container *mIfTenant="false">
      <li
        class="m-sidebarMoreDropdown__item"
        *ngIf="getCurrentUser()"
        (click)="toggleSidebar()"
      >
        <a [routerLink]="'/analytics'" data-ref="sidebarmore-analytics">
          <i class="material-icons">insights</i>
          <span class="m-sidebarNavigationItem__text" i18n="@@COMMON__ANALYTICS"
            >Analytics</span
          >
        </a>
      </li>
    </ng-container>
    <!-- ------------------------------------------------------------ -->
    <ng-container *mIfTenant="false">
      <li
        class="m-sidebarMoreDropdown__item"
        *ngIf="getCurrentUser()"
        (click)="toggleSidebar()"
      >
        <a [href]="chatUrl" target="_blank" data-ref="sidebarmore-chat">
          <m-chatIcon m-tooltip--icon></m-chatIcon>
          <span
            class="m-sidebarNavigationItem__text m-legible"
            i18n="@@COMMON__CHAT"
            >Chat</span
          >
        </a>
      </li>
    </ng-container>
    <!-- ------------------------------------------------------------ -->
    <li
      class="m-sidebarMoreDropdown__item"
      *ngIf="getCurrentUser()"
      (click)="toggleSidebar()"
    >
      <a [routerLink]="'/settings'" data-ref="sidebarmore-settings">
        <i class="material-icons">settings</i>
        <span class="m-sidebarNavigationItem__text" i18n="@@COMMON__SETTINGS"
          >Settings</span
        >
      </a>
    </li>
    <!--./././././././././././././././././././././././././././././././.-->
    <ng-container *mIfTenant="false">
      <li
        class="m-sidebarMoreDropdown__item m-sidebarMoreDropdown__spacer"
        *ngIf="getCurrentUser()"
      ></li>
    </ng-container>
    <!--./././././././././././././././././././././././././././././././.-->
    <ng-container *mIfTenant="false">
      <li
        class="m-sidebarMoreDropdown__item"
        *ngIf="getCurrentUser()"
        (click)="toggleSidebar()"
      >
        <a (click)="toggleTheme()">
          <ng-container *ngIf="isDark">
            <i class="material-icons">light_mode</i>
            <span i18n="@@COMMON__LIGHT_MODE">Enter Light Mode</span>
          </ng-container>
          <ng-container *ngIf="!isDark">
            <i class="material-icons">dark_mode</i>
            <span i18n="@@COMMON__DARK_MODE">Enter Dark Mode</span>
          </ng-container>
        </a>
      </li>
    </ng-container>
    <!-- ------------------------------------------------------------ -->
    <ng-container *mIfTenant="false">
      <li class="m-sidebarMoreDropdown__item" (click)="toggleSidebar()">
        <a
          [href]="getHelpdeskRedirectUrl()"
          target="_blank"
          data-ref="sidebarmore-help-zendesk"
        >
          <i class="material-icons">help</i>
          <span i18n="@@COMMON__HELP">Help</span>
        </a>
      </li>
    </ng-container>

    <!--./././././././././././././././././././././././././././././././.-->
    <li
      class="m-sidebarMoreDropdown__item m-sidebarMoreDropdown__spacer
      "
    ></li>
    <!--./././././././././././././././././././././././././././././././.-->
    <li
      class="m-sidebarMoreDropdown__item m-sidebarMoreDropdown__footer
      "
    >
      <a
        *mIfTenant="false"
        routerLink="/content-policy"
        data-ref="sidebarmore-footer-content-policy"
        (click)="toggleSidebar()"
        i18n="@@COMMON__CONTENT_POLICY"
        >Content Policy</a
      >
      <a
        *mIfTenant="true"
        routerLink="/pages/community-guidelines"
        data-ref="sidebarmore-footer-community-guidelines-policy"
        (click)="toggleSidebar()"
        i18n="@@COMMON__COMMUNITY_GUIDELINES"
        >Community Guidelines</a
      >
      <a
        *mIfTenant="false"
        routerLink="/p/privacy"
        data-ref="sidebarmore-footer-privacy"
        (click)="toggleSidebar()"
        i18n="@@COMMON__PRIVACY"
        >Privacy</a
      >
      <a
        *mIfTenant="true"
        routerLink="/pages/privacy-policy"
        data-ref="sidebarmore-footer-privacy"
        (click)="toggleSidebar()"
        i18n="@@COMMON__PRIVACY"
        >Privacy</a
      >

      <ng-container *ngIf="getCurrentUser()">
        <a
          *mIfTenant="false"
          routerLink="/settings/affiliates-program"
          data-ref="sidebarmore-footer-affiliates"
          (click)="toggleSidebar()"
          i18n="@@COMMON__AFFILIATES"
          >Affiliates</a
        >
      </ng-container>
      <a
        *mIfTenant="false"
        routerLink="/mobile"
        data-ref="sidebarmore-footer-mobile"
        (click)="toggleSidebar()"
        i18n="@@COMMON__MOBILE"
        >Mobile</a
      >
      <a
        *mIfTenant="false"
        href="https://www.teespring.com/stores/minds"
        target="_blank"
        data-ref="sidebarmore-footer-store"
        (click)="toggleSidebar()"
        i18n="@@COMMON__STORE"
        >Store</a
      >
      <a
        *mIfTenant="false"
        href="https://jobs.lever.co/minds"
        target="_blank"
        data-ref="sidebarmore-footer-careers"
        (click)="toggleSidebar()"
        i18n="@@COMMON__CAREERS"
        >Careers</a
      >
      <a
        *mIfTenant="false"
        href="https://status.minds.com/"
        target="_blank"
        data-ref="sidebarmore-footer-status"
        (click)="toggleSidebar()"
        i18n="@@COMMON__STATUS"
        >Status</a
      >
      <a
        *mIfTenant="false"
        routerLink="/canary"
        data-ref="sidebarmore-footer-canary"
        (click)="toggleSidebar()"
        i18n="@@SIDEBAR_MORE__FOOTER_LINK__CANARY_MODE"
        >Canary Mode</a
      >
      <a
        *mIfTenant="false"
        routerLink="/p/terms"
        data-ref="sidebarmore-footer-terms"
        (click)="toggleSidebar()"
        i18n="@@COMMON__TERMS"
        >Terms</a
      >
      <a
        *mIfTenant="true"
        routerLink="/pages/terms-of-service"
        data-ref="sidebarmore-footer-terms"
        (click)="toggleSidebar()"
        i18n="@@COMMON__TERMS"
        >Terms</a
      >
      <a
        *mIfTenant="false"
        routerLink="/p/contact"
        data-ref="sidebarmore-footer-contact"
        (click)="toggleSidebar()"
        i18n="@@COMMON__CONTACT"
        >Contact</a
      >
      <a
        *mIfTenant="false"
        routerLink="/branding"
        data-ref="sidebarmore-footer-branding"
        (click)="toggleSidebar()"
        i18n="@@COMMON__BRANDING"
        >Branding</a
      >
      <a
        *mIfTenant="false"
        routerLink="/about"
        data-ref="sidebarmore-footer-about"
        (click)="toggleSidebar()"
        i18n="@@COMMON__ABOUT"
        >About</a
      >
    </li>
  </ul>
</div>
