@import 'defaults.scss';

:host {
  display: block;
  .m-sidebarMore {
    width: 225px;

    @media screen and (max-width: $max-mobile) {
      width: 316px;
      max-width: 79vw;
    }

    ul.m-sidebarMore__dropdown {
      list-style: none;
      padding: 0;
      margin: 0;

      @include m-theme() {
        background-color: themed($m-bgColor--primary);
        color: themed($m-textColor--primary);
        box-shadow: none;
      }

      li.m-sidebarMoreDropdown__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        opacity: 1;
        text-overflow: ellipsis;
        text-align: left;
        font-weight: 500;
        padding: 0;
        font-size: 16px;
        line-height: 20px;
        border: 0 !important;

        &:first-child {
          margin-top: 10px;
        }

        &:not(.m-sidebarMoreDropdown__footer) {
          cursor: pointer;

          > * {
            padding: 10px 20px;
            @include m-theme() {
              color: themed($m-textColor--primary);
            }
          }
        }

        &:not(.m-sidebarMoreDropdown__spacer):not(.m-sidebarMoreDropdown__footer):hover {
          @include m-theme() {
            background-color: themed($m-borderColor--primary);
          }
        }

        > a {
          text-decoration: none;
          width: 100%;
          text-decoration: none;
          @include body2Medium;

          @include m-theme() {
            color: themed($m-textColor--primary) !important;
          }

          ::ng-deep m-icon,
          i,
          m-chatIcon {
            margin-right: 15px;
            font-size: 22px;
            vertical-align: middle;
            font-weight: 400;
            line-height: 1.125rem;
            @include m-theme() {
              color: themed($m-textColor--primary);
              fill: themed($m-textColor--primary);
            }
          }

          ::ng-deep m-chatIcon {
            display: inline-block;

            i {
              font-size: 20px !important;
            }
          }
        }

        &.m-sidebarMoreDropdown__spacer {
          height: 1px;
          margin: 10px 0;
          padding: 0;

          @include m-theme() {
            background-color: themed($m-borderColor--primary);
          }
        }

        &.m-sidebarMoreDropdown__footer {
          flex-wrap: wrap;
          padding: 5px 20px 15px;

          a {
            cursor: pointer;
          }
          span {
            cursor: default;
            margin: 0 1px;
          }

          a {
            text-decoration: none;
            font-size: 13px;
            line-height: 16px;
            width: auto;
            white-space: pre-wrap;
            word-break: break-all;

            @include m-theme() {
              color: themed($m-textColor--secondary) !important;
            }

            &:not(:last-child)::after {
              content: ' · '; // Add the separator content
            }

            &:hover {
              @include m-theme() {
                color: themed($m-textColor--primary) !important;
              }
            }
          }
        }
      }
    }
  }
}
