<m-settingsV2__header>
  <div class="m-settingsV2__headerLabel">
    <span i18n="@@SETTINGS_NOTIFICATIONS_PUSH__LABEL">Push Notifications</span>
  </div>
  <div
    class="m-settingsV2__desc"
    i18n="@@SETTINGS_NOTIFICATIONS_PUSH__DESCRIPTION"
  >
    Control which push notifications you receive, and when.
  </div>
</m-settingsV2__header>
<m-loadingSpinner [inProgress]="initializing$ | async"></m-loadingSpinner>
<ng-container *ngIf="!(initializing$ | async)">
  <ng-container *ngIf="pushNotificationsSupported$ | async">
    <m-button
      (onAction)="onEnablePushNotifications()"
      solid="true"
      color="blue"
      *ngIf="!(pushNotificationsEnabled$ | async)"
    >
      <span i18n="@@SETTINGS_NOTIFICATIONS_PUSH__ENABLE"
        >Enable Notifications for this device</span
      >
    </m-button>
    <m-button
      (onAction)="onDisablePushNotifications()"
      color="red"
      *ngIf="pushNotificationsEnabled$ | async"
    >
      <span i18n="@@SETTINGS_NOTIFICATIONS_PUSH__DISABLE"
        >Disable Notifications for this device</span
      >
    </m-button>
    <p
      class="m-pushNotifSettings__pushNotificationEnablingFailed"
      *ngIf="notificationEnablingError$"
    >
      {{ notificationEnablingError$ | async }}
    </p>
  </ng-container>

  <!-- ---------------------------------- -->
  <!-- ALL ON/OFF -->
  <!-- ---------------------------------- -->
  <div
    class="
      m-pushNotifSettings__optionContainer
      m-pushNotifSettings__optionContainer--horizontal
    "
    *ngIf="getToggle('all')"
  >
    <m-toggle
      [mModel]="getToggle('all').state"
      (mModelChange)="toggle('all')"
      leftValue="off"
      rightValue="on"
      offState="off"
    ></m-toggle>
    <span i18n="@@SETTINGS_NOTIFICATIONS_PUSH__NOTIFS_ENABLED"
      >All push notifications enabled</span
    >
  </div>
  <!-- ---------------------------------- -->
  <!-- SOUND TOGGLE -->
  <!-- ---------------------------------- -->
  <div
    class="
      m-pushNotifSettings__optionContainer
      m-pushNotifSettings__optionContainer--horizontal
    "
  >
    <m-toggle
      [mModel]="soundToggleState"
      (mModelChange)="toggleSound($event)"
      leftValue="off"
      rightValue="on"
      offState="off"
    ></m-toggle>
    <span i18n="@@SETTINGS_NOTIFICATIONS_PUSH__SOUND_ENABLED"
      >Notification sounds enabled</span
    >
  </div>

  <hr />
  <!-- ---------------------------------- -->
  <!-- ALL OTHER TOGGLES -->
  <!-- ---------------------------------- -->
  <h5 i18n="@@SETTINGS_NOTIFICATIONS_PUSH__RELATED_TO_POSTS">
    Related to your posts and channel
  </h5>

  <div
    class="
      m-pushNotifSettings__optionContainer
      m-pushNotifSettings__optionContainer--horizontal
    "
    *ngFor="let option of getDynamicToggles()"
  >
    <m-toggle
      [mModel]="this.getToggle('all').state === 'off' ? 'off' : option.state"
      (mModelChange)="toggle(option.notificationGroup)"
      [disabled]="getToggle('all').state === 'off'"
      offState="off"
      leftValue="off"
      rightValue="on"
    ></m-toggle>
    <div class="m-pushNotifSettings__optionContainerLabels">
      <span class="m-pushNotifSettings__optionTitle">
        <ng-container [ngSwitch]="option.notificationGroup">
          <ng-template ngSwitchCase="wires">Pay</ng-template>
          <ng-template ngSwitchDefault>{{
            option.notificationGroup | replace: '_':' ' | titlecase
          }}</ng-template>
        </ng-container></span
      >
      <span class="m-pushNotifSettings__optionSubtext" *ngIf="option.subtext">{{
        option.subtext
      }}</span>
    </div>
  </div>
</ng-container>
