<div class="m-group__actions">
  <m-group__settingsButton
    class="m-groupActions__button--settings"
  ></m-group__settingsButton>

  <m-group__editButton
    *ngIf="service.isOwner$ | async"
    class="m-groupActions__button--edit"
  ></m-group__editButton>

  <m-group__membershipButton
    class="m-groupActions__button--membership"
    [group]="service.group$ | async"
    customColor="grey"
    size="xsmall"
    overlay="true"
    verbose="true"
    labelType="verboseAction"
    (onMembershipChange)="onMembershipChange($event)"
  ></m-group__membershipButton>
</div>
