<div class="m-networkAdminConsolePolicyForm__wrapper">
  <h4
    class="m-networkAdminConsole__title"
    i18n="@@NETWORK_ADMIN_CONSOLE__MODERATION__TERMS_OF_SERVICE__TITLE"
  >
    Terms of service
  </h4>
  <p class="m-networkAdminConsole__subtitle">
    <span
      i18n="
         @@NETWORK_ADMIN_CONSOLE__MODERATION__TERMS_OF_SERVICE__DESCRIPTION
      "
      >You have the flexibility to go with our default terms of service, tailor
      it to suit your specific preferences, or even link to an external terms of
      service of your own. Choose the option that aligns best with your terms of
      service to ensure effective governance and compliance on your network.
    </span>
  </p>
  <m-customPage__form
    [pageType]="CustomPageType.TERMS_OF_SERVICE"
  ></m-customPage__form>
</div>
