<div class="m-networkAdminConsolePolicyForm__wrapper">
  <h4
    class="m-networkAdminConsole__title"
    i18n="@@NETWORK_ADMIN_CONSOLE__MODERATION__PRIVACY_POLICY__TITLE"
  >
    Privacy policy
  </h4>
  <p class="m-networkAdminConsole__subtitle">
    <span
      i18n=" @@NETWORK_ADMIN_CONSOLE__MODERATION__PRIVACY_POLICY__DESCRIPTION "
      >You have the flexibility to go with our default privacy policy, tailor it
      to suit your specific preferences, or even link to an external privacy
      policy of your own. Choose the option that aligns best with your privacy
      needs and take control of how the information of the users on your network
      is managed.
    </span>
  </p>
  <m-customPage__form
    [pageType]="CustomPageType.PRIVACY_POLICY"
  ></m-customPage__form>
</div>
