<div class="m-channel__actions">
  <!-- ------------------------------------------ -->
  <!-- CHANNEL OWNER -->
  <!-- ------------------------------------------ -->
  <ng-container *ngIf="service.isOwner$ | async; else nonOwner">
    <m-channelActions__boost *mIfTenant="false"></m-channelActions__boost>
    <m-channelActions__edit></m-channelActions__edit>
    <m-channelActions__proChannel></m-channelActions__proChannel>
  </ng-container>

  <!-- ------------------------------------------ -->
  <!-- CHANNEL VISITOR -->
  <!-- ------------------------------------------ -->
  <ng-template #nonOwner>
    <m-channelActions__menu>
      <m-button
        class="m-button-v2 m-button-v2--iconOnly"
        overlay="true"
        iconOnly="true"
      >
        <m-icon iconId="more_horiz" [sizeFactor]="0"></m-icon>
      </m-button>
    </m-channelActions__menu>

    <ng-container *ngIf="service.canInteract$ | async">
      <ng-container *ngIf="service.isSubscribed$ | async">
        <m-channelActions__postSubscriptions></m-channelActions__postSubscriptions>
      </ng-container>

      <m-channelActions__wire *mIfTenant="false"></m-channelActions__wire>

      <div class="m-hideOnMobile">
        <ng-container *mIfTenant="false">
          <m-channelActions__message
            *ngIf="service.isSubscribed$ | async"
          ></m-channelActions__message>
        </ng-container>
      </div>

      <m-channelActions__subscribe
        *ngIf="!(service.isSubscribed$ | async)"
      ></m-channelActions__subscribe>

      <m-channelActions__proChannel
        *mIfTenant="false"
      ></m-channelActions__proChannel>
      <m-channelActions__supermind
        *mIfTenant="false"
      ></m-channelActions__supermind>
    </ng-container>
  </ng-template>
</div>
