<h3 i18n="@@M_SHARE__HEADER" *ngIf="!commentParam">Share this post</h3>
<h3 i18n="@@M_SHARE__SHARE_THIS_COMMENT" *ngIf="commentParam">
  Share this comment
</h3>
<div class="m-share__input-container">
  <div class="m-share__label-container">
    <label [htmlFor]="shareInput">
      <span i18n="@@M_SHARE__REFERRER_PARAM_INPUT_LABEL">
        Link to post
      </span>
    </label>
    <ng-container *mIfTenant="false">
      <div
        class="m-share__referrerParamCheckboxContainer"
        *ngIf="session.isLoggedIn()"
      >
        <input
          type="checkbox"
          checked
          id="referrer-param"
          name="referrer-param"
          (click)="toggleReferrerParam()"
        />
        <label for="referrer-param">
          <span i18n="@@M_SHARE__REFERRER_PARAM_CHECKBOX_LABEL">
            Include referral code
          </span>
        </label>
        <m-tooltip anchor="right" icon="help">
          <ng-container i18n="@@M_SHARE__AFFILIATES_CODE_EXPLANATION">
            Use your code to earn tokens for referring new users to Minds. Learn
            more at the
            <a [routerLink]="['/settings/affiliates-program']" target="_blank"
              >Affiliates Program page&nbsp;<i
                class="material-icons m-share__newWindowIcon"
                >open_in_new</i
              ></a
            >
          </ng-container>
        </m-tooltip>
      </div>
    </ng-container>
  </div>
  <div
    class="m-share__input m-border"
    [class.focused]="shareUrlFocused"
    (click)="applyFocusToShareInput(shareInput)"
  >
    <input
      class="m-share__inputText"
      [ngClass]="{ 'm-share__inputText--flashing': flashing }"
      readonly
      tabindex="-1"
      (focus)="shareUrlFocused"
      (focusout)="shareUrlFocused = false"
      value="{{shareUrl}}"
      #shareInput
    />
    <div
      (click)="copyShareUrlToClipboard(shareInput)"
      class="m-share__inputButton"
    >
      <i class="material-icons m-share__copy-icon">content_copy</i>
    </div>
  </div>
</div>

<div class="m-share__input-container" *ngIf="embedCode">
  <div class="m-share__label-container">
    <label [htmlFor]="embedInput">
      <span i18n="@@M_SHARE__EMBED_POST">
        Embed post
      </span>
    </label>
  </div>
  <div
    class="m-share__input m-border"
    [class.focused]="embedInputFocused"
    (click)="applyFocusToEmbedInput(embedInput)"
  >
    <input
      class="m-share__inputText"
      [ngClass]="{ 'm-share__inputText--flashing': flashing }"
      readonly
      tabindex="-1"
      (focus)="embedInputFocused"
      (focusout)="embedInputFocused = false"
      [ngModel]="embedCode"
      #embedInput
    />
    <div
      (click)="copyEmbedCodeToClipboard(embedInput)"
      class="m-share__inputButton"
    >
      <i class="material-icons m-share__copy-icon">content_copy</i>
    </div>
  </div>
</div>

<div class="m-share__buttonsContainer">
  <div class="m-share__label-container">
    <label>
      <span i18n="@@M_SHARE__MORE_WAYS_TO_SHARE">
        More ways to share
      </span>
    </label>
  </div>
  <div class="m-share__buttons">
    <button
      i18n-title="@@M_SHARE__BUTTON_TWITTER"
      title="Twitter"
      class="m-share__button m-share__button--twitter"
      (click)="openTwitter()"
    >
      <img [src]="'assets/icons/twitter.svg'" />
    </button>

    <button
      i18n-title="@@M_SHARE__BUTTON_FACEBOOK"
      title="Facebook"
      class="m-share__button m-share__button--facebook"
      (click)="openFacebook()"
    >
      <img [src]="'assets/icons/facebook.svg'" />
    </button>

    <button
      i18n-title="@@M_SHARE__BUTTON_MESSENGER"
      title="Messenger"
      class="m-share__button m-share__button--messenger"
      *ngIf="isMobileOrTablet()"
      (click)="openMessenger()"
    >
      <img [src]="'assets/icons/messenger.svg'" />
    </button>

    <button
      i18n-title="@@M_SHARE__BUTTON_Whatsapp"
      title="Whatsapp"
      class="m-share__button m-share__button--whatsapp"
      *ngIf="isMobileOrTablet()"
      (click)="openWhatsapp()"
    >
      <img [src]="'assets/icons/whatsapp.svg'" />
    </button>

    <button
      i18n-title="@@M_SHARE__BUTTON_SMS"
      title="SMS"
      class="m-share__button m-share__button--sms"
      *ngIf="isMobile()"
      (click)="openSMS()"
    >
      <img [src]="'assets/icons/sms.svg'" />
    </button>

    <button
      i18n-title="@@M_SHARE__BUTTON_EMAIL"
      title="Email"
      class="m-share__button m-share__button--email"
      (click)="openEmail()"
    >
      <img [src]="'assets/icons/email.svg'" />
    </button>
  </div>
</div>

<m-modalCloseButton></m-modalCloseButton>
